<div><img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BTable+of+contents'%3D20'f%5Cv'a%5C%3D0'10'%3D249'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D250'%3D297'dim'%5C%3D10'%3D10'%3D250'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=TzxATGSyGo59uvdEcnpk0pMmCmI" data-type="toc" data-props="align:right;maxDepth:6;width:250;wrap:true;" width="250" height="300" style="display:inline;float:right;margin:5px 0 5px 20px;"></div>

<h2>Stacking vs Interacting</h2>

<p>The word "stacking" comes with a lot of assumptions on what it means, generally implying a direct additive or multiplicative effect, and using it when that's not the case tends to confuse people. As a result, Goz really dislikes it being used in reference to Drakor, so this guide uses "interacts" instead.</p>

<h2>Basic Interaction Guidelines</h2>

<p>Bonuses only interact if they are of the same type (drop rate, creation rate, timer reduction, xp, or gold drop). Bonuses of different types basically just ignore each other and are calculated as though each were the only bonus in effect. The six current interacting bonuses are rings, tools, mounts, estates, global perks, and buffs (pets and food). Mastery is not considered a bonus and its successes will add directly to any from bonuses. There are two different formulas used for calculating the effect of the interaction, one for timer reduction (which calculates the total time reduction) and another for everything else (which calculates the total chance of success).</p>

<h2>Timer Reduction Formula</h2>

<p>Timer reductions are directly additive, so to calculate the total time reduction is simple:</p>

<p>Tr + Tt + Tb + Tp + Te + Tm</p>

<p>Where Tr is the timer reduction of the ring; Tt is the tool; Tb is the buff; Tp is the global perk; Te is the estate; and Tm is the mount.</p>

<p>Note that there is currently (Nov '17) a 50% cap on Timer Reduction.</p>

<h2>Everything Else Formula</h2>

<p>To calculate the total chance of success (in decimal form) of a drop rate, creation rate, xp, or gold drop:</p>

<p>1 - ((1-Sr)*(1-St)*(1-Sb)*(1-Sp)*(1-Se)*(1-Sm))</p>

<p>Where Sr is the success chance of the ring, in decimal form; St is the tool; Sb is the buff; Sp is the global perk; Se is the estate; and Sm is the mount.</p>

<p>For xp, the effect can only be triggered once (resulting the doubled xp). For the others (except maybe gold buff, which only has one bonus type so far), the effect can be triggered up to once per bonus type.</p>
