<p>This is a list of every material from the drop tables and pattern lists in the <a href="http://drakor.com/manual?show=noheader">Drakor Manual</a>&nbsp;(current to version 2.7). Event items that stopped dropping before the table was compiled (in Jan 2016) are not included, but new event items are added when they start dropping. The list is intended to be a starting point; you can use the Find command (cntl-F) to learn which tradeskill a material is under and then consult the appropriate part of the manual for all the juicy details. If we managed to miss any materials, be sure to holler at us so we can get it added.</p>

<table>
<tbody>
<tr>
<td><b>Mat</b></td>
<td><b>Tradeskill</b></td>
</tr>
<tr>
<td>Acid-Etched Adamantite Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Bloodstone Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Chromium Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Cobalt Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Copper Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Iridium Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Iron Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Acid-Etched Tin Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Armplates</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Adamantite Boots (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Adamantite Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Flame Sword</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Gauntlets (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Helm (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Ice Gloves</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Legplates (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Adamantite Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Adamantite Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Adamantite Ring (Superior+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Adamantite Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Adamantite Shield (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Adamantite Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Adamantite Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Agate</td>
<td>Mining</td>
</tr>
<tr>
<td>Agate Augment (Rare)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Aged Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Aged Chapter</td>
<td>Inscription</td>
</tr>
<tr>
<td>Aged Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Aged Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Aged Reference Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Aged Writings</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Alchemy Lab</td>
<td>Construction</td>
</tr>
<tr>
<td>Amber</td>
<td>Mining</td>
</tr>
<tr>
<td>Amber Augment (Common)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Amethyst</td>
<td>Mining</td>
</tr>
<tr>
<td>Amethyst Aug (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Ancient Book</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Ancient Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Ancient Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Ancient Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Ancientbloom</td>
<td>Gathering</td>
</tr>
<tr>
<td>Ancientbloom Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Angel Dragon Damage (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Angel Dragon Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Angelfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Angelfish Stew (CR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Angelflower</td>
<td>Gathering</td>
</tr>
<tr>
<td>Angelherring Soup (DR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Angelpixie Heal Potion (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Apple</td>
<td>Gathering</td>
</tr>
<tr>
<td>Apple Cider</td>
<td>Cooking</td>
</tr>
<tr>
<td>Apple Goby Steak (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Apple Halibut Jerky (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Apple Shrimp (Gold Drop%)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Apricot</td>
<td>Gathering</td>
</tr>
<tr>
<td>Apricot Eggs (Travel)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Apricot Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Arcane Powder</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Arcaneleaf</td>
<td>Gathering</td>
</tr>
<tr>
<td>Archaic Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Arms Enchant (Common)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Arms Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Arms Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Aspen Fishing Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Banana</td>
<td>Gathering</td>
</tr>
<tr>
<td>Banana Eggs (Invis)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Banana Mackerel (Travel)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Basalt</td>
<td>Mining</td>
</tr>
<tr>
<td>Base Guild Hall (Pine)</td>
<td>Construction</td>
</tr>
<tr>
<td>Base Guild Wing (Pine)</td>
<td>Construction</td>
</tr>
<tr>
<td>Basic Agate Aug (Common)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Basic Battle Damage</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Basic Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Basic Chapter</td>
<td>Inscription</td>
</tr>
<tr>
<td>Basic Cobalt Feet</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Cobalt Legs</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Copper Arms</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Copper Chest</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Copper Feet</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Copper Hands</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Copper Legs</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Food Buff</td>
<td>Cooking</td>
</tr>
<tr>
<td>Basic Formation</td>
<td>Inscription</td>
</tr>
<tr>
<td>Basic Iron Armplates</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Malachite Aug (Common)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Basic Markings</td>
<td>Inscription</td>
</tr>
<tr>
<td>Basic Parchment</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Basic Random Curse (Rare)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Basic Random Curse (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Basic Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Basic Reference Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Basic Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Basic Small Gem Augment</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Basic Tin Arms</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Tin Hands</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Tin Helm</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Tin Legs</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Tin Shield</td>
<td>Smithing</td>
</tr>
<tr>
<td>Basic Writings</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Bigtooth Aspen</td>
<td>Logging</td>
</tr>
<tr>
<td>Birch Container Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Birch Fishing Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Birch Guild Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Birch Mallet</td>
<td>Construction</td>
</tr>
<tr>
<td>Birch Mallet Top</td>
<td>Crafting</td>
</tr>
<tr>
<td>Birthday Cake</td>
<td>Cooking</td>
</tr>
<tr>
<td>Black Ash</td>
<td>Logging</td>
</tr>
<tr>
<td>Black Spruce</td>
<td>Logging</td>
</tr>
<tr>
<td>Blackened Stone</td>
<td>Mining</td>
</tr>
<tr>
<td>Blacksmith</td>
<td>Construction</td>
</tr>
<tr>
<td>Blood Chestguard (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Blood Gauntlets (Common+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Blood Golemite Arms (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Blood Golemite Helm (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Blood-Amber Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Bloodstone Arms (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Bloodstone Boots (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Cap (Common+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Bloodstone Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Bloodstone Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Bloodstone Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Bloodstone Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Bloodstone Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Bloodstone Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bloodstone Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Blueberry Syrup</td>
<td>Mining</td>
</tr>
<tr>
<td>Boiled Gilgrash</td>
<td>Cooking</td>
</tr>
<tr>
<td>Bone Remains</td>
<td>Gathering</td>
</tr>
<tr>
<td>Boots Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Bronze-Iron Hands (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Bronze-Iron Shield (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Caffeinated Blood</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cast Iron Pot</td>
<td>Smithing</td>
</tr>
<tr>
<td>Catfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Cedar Building Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Cedar Building Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Cedar Container Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Cedar Fishing Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cedar Guild Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Cedar Mallet</td>
<td>Construction</td>
</tr>
<tr>
<td>Cedar Mallet Top</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cedar Shingles</td>
<td>Construction</td>
</tr>
<tr>
<td>Chaos Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Cherry Syrup</td>
<td>Gathering</td>
</tr>
<tr>
<td>Chest Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Chest Enchant (Superior)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Chestnut</td>
<td>Logging</td>
</tr>
<tr>
<td>Chrome Chainmail (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chrome-Amber Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Chromebalt Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Chromium Boots (Common+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Chain-Coif (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Chromium Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Gauntlets (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Legs (Common+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Chromium Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Chromium Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Chromium Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Chromium Shield (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Chromium Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Chromium Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Citrine</td>
<td>Mining</td>
</tr>
<tr>
<td>Citrine Augment (Common)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Citrine Augment (Superior)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Clay</td>
<td>Mining</td>
</tr>
<tr>
<td>Clay Mug</td>
<td>Crafting</td>
</tr>
<tr>
<td>Clear Opal</td>
<td>Mining</td>
</tr>
<tr>
<td>Coal</td>
<td>Mining</td>
</tr>
<tr>
<td>Coarse Parchment</td>
<td>Inscription</td>
</tr>
<tr>
<td>Cobalt Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Cobalt Chestguard (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Cobalt Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Greathelm (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cobalt Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Cobalt Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Cobalt Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Cobalt Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cobalt Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Cobalt Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cobalt Wristguards (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Common Copper Dagger</td>
<td>Smithing</td>
</tr>
<tr>
<td>Common Iron Gauntlets</td>
<td>Smithing</td>
</tr>
<tr>
<td>Common Leg Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Common Random Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Common Random Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Common Shield Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Common Weapon Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Complex Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Complex Markings</td>
<td>Inscription</td>
</tr>
<tr>
<td>Complex Symbol</td>
<td>Inscription</td>
</tr>
<tr>
<td>Concoct Goldenrose Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Concoct Goreberry Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Concoct Midnightgold Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Concoct Mooncreeper Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Concoct Pixiebloom Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cooked Fangtooth</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Fire Goby</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Flounder</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Ghostfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Herring</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Icefish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Lancetail</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Pike</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Sunray</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Trout</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooked Trunkfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Cooking Hall</td>
<td>Construction</td>
</tr>
<tr>
<td>Copper Armplates (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Copper Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Copper Fasteners</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Feet (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Hands (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Copper Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Copper Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Copper Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Copper Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Copper Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Copper-Tin Helm (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Copper-Tin Shield (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Corpsepoppy</td>
<td>Gathering</td>
</tr>
<tr>
<td>Corpsepoppy Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cotton</td>
<td>Gathering</td>
</tr>
<tr>
<td>Cotton Yarn</td>
<td>Crafting</td>
</tr>
<tr>
<td>Craft Glue</td>
<td>Crafting</td>
</tr>
<tr>
<td>Crafting Hut</td>
<td>Construction</td>
</tr>
<tr>
<td>Crushed Sandcreeper Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Crushed Spiritherb Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Crushed Wolfsbane Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Adamantite Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Agate</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Amber</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Amethyst</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Bloodstone Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Chromium Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Citrine</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Cobalt Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Copper Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Garnet</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Gem</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Iridium Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Iron Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Cursed Malachite</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Sun Opal</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Cursed Tin Staff</td>
<td>Crafting</td>
</tr>
<tr>
<td>Dark Arcane Ink</td>
<td>Inscription</td>
</tr>
<tr>
<td>Dark Cherry</td>
<td>Logging</td>
</tr>
<tr>
<td>Dark Cherry Handle</td>
<td>Construction</td>
</tr>
<tr>
<td>Dark Cotton</td>
<td>Gathering</td>
</tr>
<tr>
<td>Dark Cotton Yarn</td>
<td>Crafting</td>
</tr>
<tr>
<td>Dark Honey</td>
<td>Gathering</td>
</tr>
<tr>
<td>Delicate Parchment</td>
<td>Inscription</td>
</tr>
<tr>
<td>Delvrak</td>
<td>Fishing</td>
</tr>
<tr>
<td>Devilpetal</td>
<td>Gathering</td>
</tr>
<tr>
<td>Devilpetal Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Devilpetal Random</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Devilweed</td>
<td>Gathering</td>
</tr>
<tr>
<td>Devilweed Acid</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Devilweed Line</td>
<td>Crafting</td>
</tr>
<tr>
<td>Devilweed Thread</td>
<td>Crafting</td>
</tr>
<tr>
<td>Dogweed</td>
<td>Gathering</td>
</tr>
<tr>
<td>Dogweed Fishing Line</td>
<td>Crafting</td>
</tr>
<tr>
<td>Dogweed Thread</td>
<td>Crafting</td>
</tr>
<tr>
<td>Dragontear</td>
<td>Gathering</td>
</tr>
<tr>
<td>Dragontear Acid</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Dried Apple Spices</td>
<td>Cooking</td>
</tr>
<tr>
<td>Dried Banana Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Dried Orange Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Durability Rune (common+)</td>
<td>Inscription</td>
</tr>
<tr>
<td>Durability Rune (common+)</td>
<td>Inscription</td>
</tr>
<tr>
<td>Durability Rune (Common+)</td>
<td>Inscription</td>
</tr>
<tr>
<td>Durability Rune (Superior+)</td>
<td>Inscription</td>
</tr>
<tr>
<td>Durability Rune (Superior+)</td>
<td>Inscription</td>
</tr>
<tr>
<td>Earthen Clay</td>
<td>Mining</td>
</tr>
<tr>
<td>Earthern Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Easter Basket</td>
<td>Crafting</td>
</tr>
<tr>
<td>Eel</td>
<td>Fishing</td>
</tr>
<tr>
<td>Egg</td>
<td>Gathering</td>
</tr>
<tr>
<td>Elaborate Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Elaborate Markings</td>
<td>Inscription</td>
</tr>
<tr>
<td>Elaborate Symbol</td>
<td>Inscription</td>
</tr>
<tr>
<td>Elemental Markings</td>
<td>Inscription</td>
</tr>
<tr>
<td>Elemental Parchment</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Elemental Powder</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Elemental Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Elemental Symbol</td>
<td>Inscription</td>
</tr>
<tr>
<td>Elven Artifact</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Elven Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Enchant Arms (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Arms (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Chest (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Chest (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Chest (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Feet (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Feet (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Hands (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Hands (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Hands (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Head (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Head (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Legs (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Legs (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Shield (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Shield (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchant Shield (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Agate</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Amber</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Amethyst</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Bloodstone Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Chromium Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Citrine</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Cobalt Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Copper Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Garnet</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Gem</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Iridium Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Iron Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanted Malachite</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Sun Opal</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Enchanted Tin Sceptre</td>
<td>Crafting</td>
</tr>
<tr>
<td>Enchanting Study</td>
<td>Construction</td>
</tr>
<tr>
<td>Extract Angelflower Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Dragontear Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Goldenbush Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Gorethistle Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Kingsbloom Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Ladyslipper Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Midnight Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Moonbeard Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Phantomlily Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Pixieroot Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Rosemary Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Extract Waterberry Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Fangtooth</td>
<td>Fishing</td>
</tr>
<tr>
<td>Fangtooth Surprise (random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Feet Enchant (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Fine Aspen Handle</td>
<td>Construction</td>
</tr>
<tr>
<td>Fine Spruce Handle</td>
<td>Construction</td>
</tr>
<tr>
<td>Fire Catfish Chili (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Fire Clay</td>
<td>Mining</td>
</tr>
<tr>
<td>Fire Goby</td>
<td>Fishing</td>
</tr>
<tr>
<td>Fish Chowder (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Flame Pearl</td>
<td>Mining</td>
</tr>
<tr>
<td>Flax</td>
<td>Gathering</td>
</tr>
<tr>
<td>Flounder</td>
<td>Fishing</td>
</tr>
<tr>
<td>Flounder Cider Soup (DR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Form Chromium Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Form Copper Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Form Iron Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Form Tin Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Fried Eggs &amp; Rings (GD)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Fried Mackerel</td>
<td>Cooking</td>
</tr>
<tr>
<td>Fried Trout (Gold Drop%)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Garnet</td>
<td>Mining</td>
</tr>
<tr>
<td>Gem Fragment</td>
<td>Mining</td>
</tr>
<tr>
<td>Gemstone</td>
<td>Mining</td>
</tr>
<tr>
<td>Ghostfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Ghostfish Omelette (CR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Ghostfish Surprise (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Ghostmedusa Curse</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghostmedusa Mystery</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghostmedusa Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghostshroom</td>
<td>Gathering</td>
</tr>
<tr>
<td>Ghostshroom Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghosttooth Soup (Invis)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Ghoul Ink</td>
<td>Inscription</td>
</tr>
<tr>
<td>Ghouldevil Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghouldevil Surprise</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghoulspider Mystery</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghoulspider Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ghoulweed</td>
<td>Gathering</td>
</tr>
<tr>
<td>Ghoulweed Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Giant Egg</td>
<td>Gathering</td>
</tr>
<tr>
<td>Gilgrash</td>
<td>Fishing</td>
</tr>
<tr>
<td>Golden Dragon Curse (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Golden Dragon Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Golden Goulash (Create Rate)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Goldenbush</td>
<td>Gathering</td>
</tr>
<tr>
<td>Goldenbush Cotton Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Golemite Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Golemite Shortsword (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Gore Dragon Cleanse (Epic)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Goreberry Mystery (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Goreherb-berry Surprise (Sup+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Gorethistle</td>
<td>Gathering</td>
</tr>
<tr>
<td>Gorethistle Cotton Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Grilled Flounder</td>
<td>Cooking</td>
</tr>
<tr>
<td>Grilled Perch</td>
<td>Cooking</td>
</tr>
<tr>
<td>Grilled Shrimp</td>
<td>Cooking</td>
</tr>
<tr>
<td>Grind Goldenbush Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Grind Kingsbloom Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Grind Rosemary Spice</td>
<td>Cooking</td>
</tr>
<tr>
<td>Ground Flax</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Guild Hall Bank</td>
<td>Construction</td>
</tr>
<tr>
<td>Halibut</td>
<td>Fishing</td>
</tr>
<tr>
<td>Hands Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Hands Enchant (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Hard Chrome Legs (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Hard Chrome Mace (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Hard Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hard Clay Mixture</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hard Cobalt Legs (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Hard Cobalt Shield (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Hard Fire Clay</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hard Fire Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hard Kaolinite</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hard Kaolinite Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Head Enchant (Common)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Head Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Helm Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Hemlock</td>
<td>Logging</td>
</tr>
<tr>
<td>Hemlock Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Hemlock Mallet</td>
<td>Construction</td>
</tr>
<tr>
<td>Hemlock Mallet Top</td>
<td>Crafting</td>
</tr>
<tr>
<td>Hemlock Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Hemlock Shingles</td>
<td>Construction</td>
</tr>
<tr>
<td>Hemlock Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Herring</td>
<td>Fishing</td>
</tr>
<tr>
<td>Hickory Slats</td>
<td>Construction</td>
</tr>
<tr>
<td>Holiday Sled</td>
<td>Construction</td>
</tr>
<tr>
<td>Honey</td>
<td>Gathering</td>
</tr>
<tr>
<td>Horsetail</td>
<td>Gathering</td>
</tr>
<tr>
<td>Horsetail Sandpaper</td>
<td>Crafting</td>
</tr>
<tr>
<td>Huge Agate Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Amethyst Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Amethyst Aug (Rare+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Citrine Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Citrine Aug (Rare+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Gem Augment</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Malachite Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Malachite Aug (Rare+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Sun Opal Aug (Epic+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Huge Sun Opal Aug (Rare+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Icefish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Icefish Delight (Gold Drop)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Insanity Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Inscribed Adamantite Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Bloodstone Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Chromium Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Cobalt Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Copper Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Iridium Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Iron Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscribed Tin Staff</td>
<td>Inscription</td>
</tr>
<tr>
<td>Inscription Library</td>
<td>Construction</td>
</tr>
<tr>
<td>Intricate Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Iridium Armplates</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iridium Boots (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Iridium Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Flame Helm</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Flame Sword</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Gauntlets (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Helm (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Legplates (Superior+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iridium Nails</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Iridium Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iridium Ring (Superior+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iridium Shield (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iridium Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iridium Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iron Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iron Broadsword (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Chest-guard (Epic+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Iron Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iron Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Iron Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iron Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Iron Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iron Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Iron Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Iron War Helm (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Jade Dragon Statue</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Jewel Room</td>
<td>Construction</td>
</tr>
<tr>
<td>Kaolinite</td>
<td>Mining</td>
</tr>
<tr>
<td>King Sunray Steak (CR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Kingsbloom</td>
<td>Gathering</td>
</tr>
<tr>
<td>Kingsbloom Curse (Common)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Kingsbloom Curse (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Kingsflower Buff (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ladyphantom ??? (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ladyphantom Buff (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ladyphantom Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Ladyslipper</td>
<td>Gathering</td>
</tr>
<tr>
<td>Ladyslipper Dark Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Lancetail</td>
<td>Fishing</td>
</tr>
<tr>
<td>Lancetail Steak &amp; Eggs (DR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Large Amber Aug (Rare+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Large Amber Aug (Superior+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Large Amethyst Aug (Sup+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Large Egg</td>
<td>Gathering</td>
</tr>
<tr>
<td>Large Malachite Aug (Superior+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Large Sun Opal Aug (Sup+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Lava Rock</td>
<td>Mining</td>
</tr>
<tr>
<td>Leg Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Leg Enchant (Superior)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Light Birch</td>
<td>Logging</td>
</tr>
<tr>
<td>Light Birch Shingles</td>
<td>Construction</td>
</tr>
<tr>
<td>Light Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Clay Mixture</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Earthen Clay</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Fire Clay</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Fire Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Kaolinite</td>
<td>Crafting</td>
</tr>
<tr>
<td>Light Kaolinite Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Lime Syrup</td>
<td>Fishing</td>
</tr>
<tr>
<td>Limestone</td>
<td>Mining</td>
</tr>
<tr>
<td>Linen Fibres</td>
<td>Crafting</td>
</tr>
<tr>
<td>Lionfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Liontail</td>
<td>Gathering</td>
</tr>
<tr>
<td>Liontail Sandpaper</td>
<td>Crafting</td>
</tr>
<tr>
<td>Lunar Dust</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Mackerel</td>
<td>Fishing</td>
</tr>
<tr>
<td>Mackerel Chowder (DR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Magma Powder</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Malachite</td>
<td>Mining</td>
</tr>
<tr>
<td>Marble</td>
<td>Mining</td>
</tr>
<tr>
<td>Medium Birch Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Medium Birch Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Medium Cedar Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Medium Cedar Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Medium Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Clay Mixture</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Fire Clay</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Fire Clay Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Kaolinite</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Kaolinite Bowl</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medium Pine Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Medusaroot</td>
<td>Gathering</td>
</tr>
<tr>
<td>Medusaroot Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Medusaroot Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Metal Fragment</td>
<td>Mining</td>
</tr>
<tr>
<td>Midnight Berry</td>
<td>Gathering</td>
</tr>
<tr>
<td>Midnight Ink</td>
<td>Inscription</td>
</tr>
<tr>
<td>Milkweed</td>
<td>Gathering</td>
</tr>
<tr>
<td>Milkweed Fishing Line</td>
<td>Crafting</td>
</tr>
<tr>
<td>Milkweed Thread</td>
<td>Crafting</td>
</tr>
<tr>
<td>Mill Bigtooth Aspen</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill Black Spruce</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill Hemlock</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill Light Birch</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill Red Cedar</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill Walnut</td>
<td>Construction</td>
</tr>
<tr>
<td>Mill White Pine</td>
<td>Construction</td>
</tr>
<tr>
<td>Minced Catfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Minced Pickerel</td>
<td>Cooking</td>
</tr>
<tr>
<td>Mineral Chunk</td>
<td>Mining</td>
</tr>
<tr>
<td>Minor Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Molten Fossil</td>
<td>Mining</td>
</tr>
<tr>
<td>Moonbeard</td>
<td>Gathering</td>
</tr>
<tr>
<td>Moonbeard Cotton Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Mooncreeper Random (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Mooncreeper Surprise (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Moonlight Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Moonphantom Heal (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Moonphantom Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Moonstone</td>
<td>Mining</td>
</tr>
<tr>
<td>Mummy Wraps</td>
<td>Crafting</td>
</tr>
<tr>
<td>Mysterious Artifact</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Mystic Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Mystical Battle Heal (Rare)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Neck Bolts</td>
<td>Smithing</td>
</tr>
<tr>
<td>Nightfall Dust</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Omelette Flambe (CR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Orange</td>
<td>Gathering</td>
</tr>
<tr>
<td>Orange Scrambled Eggs (Inv)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Orange Syrup</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Party Cake</td>
<td>Cooking</td>
</tr>
<tr>
<td>Party Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Peppermint</td>
<td>Gathering</td>
</tr>
<tr>
<td>Perch</td>
<td>Fishing</td>
</tr>
<tr>
<td>Perch Fishsticks (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Phantom Dragon ?? (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Phantom Dragon Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Phantomlily</td>
<td>Gathering</td>
</tr>
<tr>
<td>Pickerel</td>
<td>Fishing</td>
</tr>
<tr>
<td>Pickerel Kebobs (Invis)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Pike</td>
<td>Fishing</td>
</tr>
<tr>
<td>Pine Building Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Building Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Container Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Guild Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Guild Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Guild Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Mallet</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Mallet Top</td>
<td>Crafting</td>
</tr>
<tr>
<td>Pine Pet Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Pine Shingles</td>
<td>Construction</td>
</tr>
<tr>
<td>Pink Seaweed</td>
<td>Fishing</td>
</tr>
<tr>
<td>Pixie Dragon Mystery (Epic)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Pixie Ink</td>
<td>Inscription</td>
</tr>
<tr>
<td>Pixiebloom Mystery (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Pixieroot</td>
<td>Gathering</td>
</tr>
<tr>
<td>Pixieroot Cotton Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Polish Agate</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Amber</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Amethyst</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Citrine</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Agate</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Amber</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Amethyst</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Citrine</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Gem</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Malachite</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Large Sun Opal</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Malachite</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Small Gem</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polish Sun Opal</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Polished Large Garnet</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Premium Parchment</td>
<td>Inscription</td>
</tr>
<tr>
<td>Preserved Parchment</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primeval Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primeval Chapter</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primeval Parchment</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primeval Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primeval Reference Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primeval Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primeval Writings</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primitive Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primitive Chapter</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primitive Formation</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primitive Markings</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primitive Parchment</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primitive Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primitive Reference Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Primitive Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Primitive Writings</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Pristine Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Pristine Chapter</td>
<td>Inscription</td>
</tr>
<tr>
<td>Pristine Parchment</td>
<td>Inscription</td>
</tr>
<tr>
<td>Pristine Reference</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Pristine Reference Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Pristine Rune</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Pristine Writings</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Process Huge Agate</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Amber</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Amethyst</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Citrine</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Gem</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Malachite</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Huge Sun Opal</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Agate</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Amber</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Amethyst</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Citrine</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Gem</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Malachite</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Process Large Sun Opal</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Pure Adamantite</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Bloodstone</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Chromium</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Cobalt</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Copper</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Iridium</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Iron</td>
<td>Smithing</td>
</tr>
<tr>
<td>Pure Tin</td>
<td>Smithing</td>
</tr>
<tr>
<td>Quartz</td>
<td>Mining</td>
</tr>
<tr>
<td>Random Battle (Superior)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Random Enchant (Common+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Enchant (Superior+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Random Superior Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Rare Battle Damage</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Rare Gem Augment</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Red Balloon</td>
<td>Logging</td>
</tr>
<tr>
<td>Red Cedar</td>
<td>Logging</td>
</tr>
<tr>
<td>Reindeer Net</td>
<td>Crafting</td>
</tr>
<tr>
<td>Reinforced Pine Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Ritual Book</td>
<td>Inscription</td>
</tr>
<tr>
<td>Rockfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Rockperch Chowder (Travel)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Rosemary</td>
<td>Gathering</td>
</tr>
<tr>
<td>Rosemary Buff (Superior)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Rough Aspen Rod</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Birch Block</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Birch Rod</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Cedar Block</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Cedar Rod</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Hemlock Block</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Parchment</td>
<td>Inscription</td>
</tr>
<tr>
<td>Rough Pine Block</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Sharkwood Rod</td>
<td>Construction</td>
</tr>
<tr>
<td>Rough Walnut Block</td>
<td>Construction</td>
</tr>
<tr>
<td>Salmon</td>
<td>Fishing</td>
</tr>
<tr>
<td>Salmon Steak (Random)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salt</td>
<td>Fishing</td>
</tr>
<tr>
<td>Salted Eel</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salted Eel Jerky (Travel Buff)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salted Pickerel</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salted Rockfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salted Salmon</td>
<td>Cooking</td>
</tr>
<tr>
<td>Salty Orange Rockfish (CR)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Sandcreep Curse (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Sandcreeper</td>
<td>Gathering</td>
</tr>
<tr>
<td>Sandstone</td>
<td>Mining</td>
</tr>
<tr>
<td>Scrambled Eggs</td>
<td>Cooking</td>
</tr>
<tr>
<td>Seafood Medley (Drop Rate)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Shadow Essence</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Shadow Fish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Shale Rock</td>
<td>Mining</td>
</tr>
<tr>
<td>Sharkwood</td>
<td>Logging</td>
</tr>
<tr>
<td>Sharkwood Fishing Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Shaving Cream</td>
<td>Crafting</td>
</tr>
<tr>
<td>Shaving Products</td>
<td>Crafting</td>
</tr>
<tr>
<td>Shield Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Shrimp</td>
<td>Fishing</td>
</tr>
<tr>
<td>Shrimp Omelette (Drop Rate)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Silver Maple</td>
<td>Logging</td>
</tr>
<tr>
<td>Silver Maple Handle</td>
<td>Construction</td>
</tr>
<tr>
<td>Simple Dust</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Slate</td>
<td>Mining</td>
</tr>
<tr>
<td>Small Birch Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Building Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Building Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Cedar Building</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Cedar Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Gem</td>
<td>Mining</td>
</tr>
<tr>
<td>Small Hemlock Building</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Iron Gate</td>
<td>Smithing</td>
</tr>
<tr>
<td>Small Market Building</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Pine Building</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Pine Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Small Walnut Building</td>
<td>Construction</td>
</tr>
<tr>
<td>Smelt Adamantite Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Bloodstone Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Chromium Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Cobalt Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Copper Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Golemite Ore</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Iridium Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Iron Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Steel Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Bronze Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Chromium Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Cobalt Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Copper Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Iron Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Thick Tin Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smelt Tin Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Smoked Halibut</td>
<td>Cooking</td>
</tr>
<tr>
<td>Smooth Aspen Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Smooth Birch Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Smooth Cedar Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Smooth Sharkwood Rod</td>
<td>Crafting</td>
</tr>
<tr>
<td>Snow</td>
<td>Gathering</td>
</tr>
<tr>
<td>Spawn Chaos Orb</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Spawn Insanity Orb</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Spawn Moonlight Orb</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Spawn Mystic Orb</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Spawn Shadow Orb</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Spectral Powder</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Spiced Angelfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Spiced Catfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Spiced Lionfish</td>
<td>Cooking</td>
</tr>
<tr>
<td>Spiced Pike (Invis)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Spicy Chowder (Travel)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Spiderfoot</td>
<td>Gathering</td>
</tr>
<tr>
<td>Spiderfoot Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Spiderfoot Surprise</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Spiny Piranha</td>
<td>Fishing</td>
</tr>
<tr>
<td>Spirit Dragon Mystery (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Spirit Dragon Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Spiritherb</td>
<td>Gathering</td>
</tr>
<tr>
<td>Spiritherb Heal (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Squid</td>
<td>Fishing</td>
</tr>
<tr>
<td>Squid Rings</td>
<td>Cooking</td>
</tr>
<tr>
<td>Steel Razor Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Stone</td>
<td>Mining</td>
</tr>
<tr>
<td>Strawberry Syrup</td>
<td>Logging</td>
</tr>
<tr>
<td>Sun Opal</td>
<td>Mining</td>
</tr>
<tr>
<td>Sun Opal Aug (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Sunfire Dust</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Sunlight Dust</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Sunray</td>
<td>Fishing</td>
</tr>
<tr>
<td>Superb Etching</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Superior Agate Augment</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Superior Arms Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Superior Cobalt Hands</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Copper Arms</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Copper Chest</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Copper Helm</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Copper Legs</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Feet Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Superior Hands Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Superior Iron Chestguard</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Iron Legplate</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Shield Enchant</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Superior Small Gem Augment</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Superior Tin Chest</td>
<td>Smithing</td>
</tr>
<tr>
<td>Superior Tin Feet</td>
<td>Smithing</td>
</tr>
<tr>
<td>Teleport : Danof</td>
<td>Inscription</td>
</tr>
<tr>
<td>Teleport : Drimly</td>
<td>Inscription</td>
</tr>
<tr>
<td>Teleport : First Set Random</td>
<td>Inscription</td>
</tr>
<tr>
<td>Teleport : Poi</td>
<td>Inscription</td>
</tr>
<tr>
<td>Teleport : Settlements</td>
<td>Inscription</td>
</tr>
<tr>
<td>Teleport : Small Mud Hut</td>
<td>Inscription</td>
</tr>
<tr>
<td>Thick Adamantite Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Thick Blood Shield (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Thick Bloodstone Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Thick Chrome Arms (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Thick Iridium Bar</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Axe Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Band</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Tin Battle Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Battle Helm (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Battleplate (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Crafting Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Crafting Knife</td>
<td>Construction</td>
</tr>
<tr>
<td>Tin Fitting</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Hammer Head</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Leggings (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Logging Axe</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Longsword (Rare+)</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Mining Pick</td>
<td>Crafting</td>
</tr>
<tr>
<td>Tin Ore</td>
<td>Mining</td>
</tr>
<tr>
<td>Tin Pick Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Powder</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Tin Ring (Common+)</td>
<td>Jewelcrafting</td>
</tr>
<tr>
<td>Tin Shovel</td>
<td>Crafting</td>
</tr>
<tr>
<td>Tin Shovel Blade</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Smithing Hammer</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Staff Base</td>
<td>Smithing</td>
</tr>
<tr>
<td>Tin Wand</td>
<td>Crafting</td>
</tr>
<tr>
<td>Tough Rope</td>
<td>Crafting</td>
</tr>
<tr>
<td>Trout</td>
<td>Fishing</td>
</tr>
<tr>
<td>Trunkfish</td>
<td>Fishing</td>
</tr>
<tr>
<td>Trunkfish Delight (Gold Drop)</td>
<td>Cooking</td>
</tr>
<tr>
<td>Unknown Artifact</td>
<td>Ancient Research</td>
</tr>
<tr>
<td>Vendor Room</td>
<td>Construction</td>
</tr>
<tr>
<td>Vilecorpse Curse (Rare+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Vilecorpse Mystery</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Vilecorpse Toxin</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Vilegourd</td>
<td>Gathering</td>
</tr>
<tr>
<td>Vilegourd Dark Gloves</td>
<td>Crafting</td>
</tr>
<tr>
<td>Vilegourd Oil</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Void Powder</td>
<td>Disenchanting</td>
</tr>
<tr>
<td>Walnut</td>
<td>Logging</td>
</tr>
<tr>
<td>Walnut Container</td>
<td>Construction</td>
</tr>
<tr>
<td>Walnut Mallet</td>
<td>Construction</td>
</tr>
<tr>
<td>Walnut Mallet Top</td>
<td>Crafting</td>
</tr>
<tr>
<td>Walnut Roof</td>
<td>Construction</td>
</tr>
<tr>
<td>Walnut Shingles</td>
<td>Construction</td>
</tr>
<tr>
<td>Walnut Wall</td>
<td>Construction</td>
</tr>
<tr>
<td>Water</td>
<td>Fishing</td>
</tr>
<tr>
<td>Water Dragon Heal (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Waterberry</td>
<td>Gathering</td>
</tr>
<tr>
<td>Waterberry Ink</td>
<td>Inscription</td>
</tr>
<tr>
<td>Weapon Enchant (Epic+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Weapon Enchant (Rare)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Weapon Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Weapon Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>Weapon Enchant (Rare+)</td>
<td>Enchanting</td>
</tr>
<tr>
<td>White Pine</td>
<td>Logging</td>
</tr>
<tr>
<td>Wild Cherry</td>
<td>Logging</td>
</tr>
<tr>
<td>Wild Cherry Handle</td>
<td>Construction</td>
</tr>
<tr>
<td>Witch's Brew</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Wolf Dragon ??? (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Wolf Dragon Fireball (Epic+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Wolf Dragon Paste</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Wolfsbane</td>
<td>Gathering</td>
</tr>
<tr>
<td>Wolfsbane ??? (Superior+)</td>
<td>Alchemy</td>
</tr>
<tr>
<td>Workshop</td>
<td>Construction</td>
</tr>
<tr>
<td>Yathe's Book</td>
<td>Ancient Research</td>
</tr>
</tbody>
</table>
