
<p>Note: this is intended as a beginners' guide, so finer details of strategy are omitted for the sake of brevity and simplicity.</p>

<p>Daily Quests are good way to make a little extra gold* and also maybe pick up some premium prizes, but they are completely optional, so if they're too confusing, feel free to not worry about them until you're more familiar with the game.</p>

<p>Daily Quests are randomized, tradeskill based quests. You can start a Daily Quest for each tradeskill once every 24 hours (each tradeskill has its own, private timer) and they last that long before they expire. To start a quest, you visit the Quests tab and choose the tradeskill and level (up to your current level in that tradeskill). As the level of the quest increases, so does the reward and the difficulty. Daily Quests primarily pay out gold*, but occasionally you can get other rewards, such as medals, tokens, or titles. You can collect the reward from a completed quest at any time, even after the original 24 hour window has expired.</p>

<p>Daily Quests come in four flavors:</p>
<ol>
	<li>Collect/Combine X items of the select skill and level. (<i>Collect 136 level 46 Logging materials</i>)</li>
	<li>Collect/Combine X of a specific item. (<i>Collect [Banana] x120 materials from Gathering</i>)</li>
	<li>Obtain X +DR/+CR for items of the select skill and leve. (<i>Obtain 123 +DR for level 39 Mining materials</i>)</li>
	<li>Collect/Combine X items of the select skill and level at a specific location. (<i>Collect 125 Ancient Research materials from Barrier Range North Side</i>)
</ol>

<p>1) For collection skills, you need to be collecting items of the right level. Look for a collection node that includes the selected level. (Example: for level 6, you could select a node that's 5-8). For combining skills, you need to use patterns that include the selected level. When you choose a pattern it will say what level range it has, and you can also reference the <a href="https://drakor.com/manual/patterns?show=noheader#patterns">pattern listing</a> to see all patterns that include the level.</p>

<p>2) This one is simple, as you're told exactly what to collect or combine. For collection, work nodes that include the selected level.</p>

<p>3) This is the most complicated one, as buffs have gotten involved. It starts the same as #1 for selecting a node or pattern. Then you add the buff. DR, for collection skills, is Drop Rate. CR, for combining skills, is Create Rate. Both refer to specific types of buffs. These buffs can be provided by food, global perks, pets, mounts, tools, rings, and/or estates. Strictly speaking, mastery bonuses are not DR/CR, but they also count for that purpose on Daily Quests. Each buff provides a percentage chance of triggering and you need to trigger them X or more times to complete the quest. See <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks">Buffs & Perks</a> for more details.</p>

<p>4) This is just like #1, except you have to do it at a specific location. For collection, this is really simple, as you don't have to pick a node to work, you just work whichever one is at that location. For combining, you'll still need to pick a pattern of the right level.</p>

<p>*How much gold? The formulas are:</p>
<ul>
	<li>Hard Quest: Tradeskill Level * (500 + random(1:500))</li>
	<li>Easy Quest: Tradeskill Level * (300 + random(1:300))</li>
</ul>
<p>That last part of the formula just means that a random number is generated between the two listed and added to the base before the total is multiplied by tradeskill level.</p>
