<div>
<ol><li>Select the video you want to embed.<br>
<br>
<div style="display:block;text-align:left"><a href="https://sites.google.com/site/drakorpedia/helpful-hints/embedding-videos-in-drakor-forum/Select%20Video.png?attredirects=0" imageanchor="1"><img alt="Select Video" border="0" height="138" src="https://sites.google.com/site/drakorpedia/helpful-hints/embedding-videos-in-drakor-forum/Select%20Video.png" width="400"><br>
<br>
</a></div>
</li>
<li>
<div style="display:block;text-align:left">Find the embed code.<br>
</div>
<br>
<div style="display:block;text-align:left"><a href="https://sites.google.com/site/drakorpedia/helpful-hints/embedding-videos-in-drakor-forum/Embed%20Code.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/site/drakorpedia/helpful-hints/embedding-videos-in-drakor-forum/Embed%20Code.png" style="width:100%"></a></div>
<br>
<ul><li>Click 'Share'.</li>
<li>Click 'Embed'.</li></ul>
<ul><li>Copy the code in the display box.<br>
<br>
</li></ul>
</li>
<li>In your post right-click where you want the video to appear and select 'Paste'.</li>
</ol>
</div>
<font size="2"><i>(From Fox's forum post)</i></font><br>
<div>
<div></div>
<br>
</div>
