<div>
<div>
<div><img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BPage+listing'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Helpful+Hints%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D297'dim'%5C%3D10'%3D10'%3D500'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=2wARxy4e9IY2wS-lLQeK1V6lfj0" data-type="subpages" data-props="align:left;borderTitle:Helpful Hints;displayAs:TOC;maxDepth:6;rootPage:THIS_PAGE;width:500;" width="500" height="300" style="display:block;text-align:left;margin-right:auto;"></div>
</div>
</div>
<div><br>
</div>
<div><u><font size="4">External Links:</font></u></div>
<div><u><font size="4"><br>
</font></u></div>
<div><a href="https://docs.google.com/spreadsheets/d/1P8vghr3Mnmxdx0ocY5Mwi6BYp5Dy4gf1VXTw1YK7dYk/">Drop table / node material overlap spreadsheet (Google Doc link)</a></div>
<div>This spreadsheet combines the 'Tradeskill &amp; Hunting Nodes' and 'Tradeskill Drop-Tables' information from the Drakor Manual for a visual representation of the materials available from each node.</div>
<br>
