<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<table border="1" cellpadding="0" cellspacing="0">

<tbody>
<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">Tradeskill</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">Hex-Code&nbsp;</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#007777">Fishing</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#007777</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#994400">Mining</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#994400</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#007700">Gathering</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#007700</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#775500">Logging</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#</span></b><b><span style="font-family:Times New Roman,serif">775500</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#dd7722">Ancient Research</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#</span></b><b><span style="font-family:Times New Roman,serif">DD7722</span></b></font></p>
  </td>
 </tr>

<tr style="height:13.35pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;<span style="color:#003377">Disenchanting</span></span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:13.35pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#</span></b><b><span style="font-family:Times New Roman,serif">003377</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(0,119,204)">Enchanting</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#0077CC</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(153,17,17)">Smithing</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#991111</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(221,0,221)">Jewelcrafting</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#DD00DD</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(170,170,0)">Construction</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#AAAA00</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(153,34,255)">Alchemy</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#9922FF</span></b></font></p>
  </td>
 </tr>

<tr style="height:11.1pt">

<td style="width:140.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="188">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(255,204,51)">Inscription</span></b></font></p>
  </td>

<td style="width:104.85pt;padding:.75pt .75pt .75pt .75pt;height:11.1pt" valign="top" width="140">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#FFCC33</span></b></font></p>
  </td>
 </tr>

<tr>

<td style="padding:.75pt .75pt .75pt .75pt" valign="top">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">&nbsp;</span></b><b><span style="font-family:Times New Roman,serif;color:rgb(51,221,221)">Crafting</span></b></font></p>
  </td>

<td style="padding:.75pt .75pt .75pt .75pt" valign="top">

<p align="center" style="margin-bottom:0.0001pt;text-align:center"><font size="5"><b><span style="font-family:Times New Roman,serif">#33DDDD</span></b></font></p>
  </td>
 </tr>
</tbody>
</table>
</blockquote>
</blockquote>
</blockquote>
</blockquote>
</blockquote>
</blockquote>
</blockquote>
</blockquote>

<p>&nbsp;</p>
