<p>These items may be purchased from any NPC Vendor (see the <a href="https://drakor.com/manual/collection/other?show=noheader">"Buy & Sell Items" section</a>).</p>

<table>
<tbody>
<tr>
<td><a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Dire-Wolf">Dire Wolf</a> Pet Token</td>
<td>500 medals</td>
</tr>
<tr>
<td><a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Spiky-Turtle">Spiky Turtle</a> Pet Token</td>
<td>2,000,000 gold</td>
</tr>
<tr>
<td>Mok's Cacao Bean x75</td>
<td>15,000 gold</td>
</tr>
<tr>
<td>Eye of Newt</td>
<td>2,000 gold</td>
</tr>
<tr>
<td>Toe of Frog</td>
<td>2,000 gold</td>
</tr>
<tr>
<td>Fire of Belly</td>
<td>1 medal</td>
</tr>
<tr>
<td>Sharpening Stone</td>
<td>2,500 gold</td>
</tr>
<tr>
<td>Animal Fat</td>
<td>1 medal</td>
</tr>
<tr>
<td>Curing Tank</td>
<td>3,500 gold</td>
</tr>
<tr>
<td>Rollers</td>
<td>3,500 gold</td>
</tr>
<tr>
<td>Bolt Mould</td>
<td>1 medal</td>
</tr>
</tbody>
</table>
