<div><img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BGoogle+spreadsheet'%3D20'f%5Cv'a%5C%3D0'10'%3D475'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Offline+Worker+Costs%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D476'%3D597'dim'%5C%3D10'%3D10'%3D476'%3D597'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=HfeoBSOtID7AkE_40OqvTUoRRQA" data-origsrc="1JBiWb8MO_ZfgZW703O-J1AxbdfajCHBbIEW2t8L8o_U" data-type="spreadsheet" data-props="align:left;borderTitle:Offline Worker Costs;doctype:r;height:600;objectTitle:Offline Worker Costs;showBorder:false;showBorderTitle:false;view:sheet;width:475;" width="475" height="600" style="display:block;text-align:left;margin-right:auto;"></div>
<br>
