<div>
<div>How to show an image in a forum post instead of just a link to the image.<br>
<br>
<ol><li>Find the image you want.<br>
<br>
<div style="display:block;text-align:left"><a href="https://sites.google.com/site/drakorpedia/helpful-hints/posting-images-in-drakor-forum/Select%20Image.png?attredirects=0" imageanchor="1"><img alt="Select Image" border="0" src="https://sites.google.com/site/drakorpedia/helpful-hints/posting-images-in-drakor-forum/Select%20Image.png"></a></div>
<br>
<div style="display:block;text-align:left"><a href="https://sites.google.com/site/drakorpedia/helpful-hints/posting-images-in-drakor-forum/Select%20Image.png?attredirects=0" imageanchor="1"><br>
</a></div>
</li>
<li>Right-click on the image, and choose 'Copy Image'.<br>
<br>
<div style="display:block;text-align:left"><a href="https://sites.google.com/site/drakorpedia/helpful-hints/posting-images-in-drakor-forum/Choose%20Copy.png?attredirects=0" imageanchor="1"><img alt="Choose Copy" border="0" src="https://sites.google.com/site/drakorpedia/helpful-hints/posting-images-in-drakor-forum/Choose%20Copy.png"></a></div>
<br>
<br>
</li>
<li>Right-click in your post where you want the image to be, and select 'Paste'.</li>
</ol>
</div>
<br>
</div>
<font size="2"><i>(From Fox's forum post.)</i></font><br>
