<h2>How does this work?</h2>
<p>Under each tradeskill heading is a list of the tool types made with that skill, with the skill each tool type is for also listed when not obvious.</p>

<h2>Inscription</h2>
<ul>
	<li>Reference Books (Inscription)</li>
</ul>

<h2>Construction</h2>
<ul>
	<li>Crafting Knives</li>
	<li>Mallets (Construction)</li>
</ul>

<h2>Smithing</h2>
<ul>
	<li>Smithing Hammers</li>
	<li>Logging Axes</li>
	<li>Acid-Etched Hammers (Jewelcrafting)</li>
</ul>

<h2>Crafting</h2>
<ul>
	<li>Staves (Alchemy)</li>
	<li>Sceptres (Enchanting)</li>
	<li>Wands (Disenchanting)</li>
	<li>Clay Bowls (Cooking)</li>
	<li>Fishing Rods</li>
	<li>Cotton Gloves (Gathering)</li>
	<li>Mining Picks</li>
	<li>Treasure Picks</li>
	<li>Shovels (Ancient Research)</li>
</ul>
