<p><strong>WARNING: Contains spoilers about Hidden NPC locations and item turn ins.</strong></p>

<p>Thanks to Roo for the original version of this guide, posted on the Drakor forums.</p>

<p>Roo's note: I was going to take the time to make this really pretty with pictures and crafting levels and drop levels, but it became really convoluted really fast. For any players wanting a more in depth explanation of pattern requirements or drop locations, simply ask or check the drop tables or pattern listings in the manual. Thank you!</p>

<p><b>Step One:</b> Speak to Felix Navi'da at Small Mud Hut</p>
<p><b>Steps Two &amp; Three:</b> Speak to Ms. Bigglesworth at Danof Town Center. Turn in [Salmon x45 and Eel x80]</p>
<p><b>Step Four:</b> Speak to Gordy the Town Crier at Hall of Support.</p>
<p><b>Step Five:</b> Speak to Bob Merlot at The Bleary Eyed Pig. Turn in [Clay Mug x5]</p>
<p><b>Step Six:</b> Speak to Reely Squidlip at Small Dock. Turn in [Milkweed Line x10]</p>
<p><b>Step Seven:</b> Speak to Lady Clarabelle at Hall of Worship. Turn in [Enchanted Gem x2]</p>
<p><b>Step Eight:</b> Speak to Papa Joe at Danof Market. Turn in [Salted Eel x20]</p>
<p><b>Step Nine:</b> Speak to Librarian Dickens at Hall of Drakorian Archives. Turn in [Ancient Book x5]</p>
<p><b>Step Ten:</b> Speak to Rawley the Brawler at Gates of Danof. Turn in [Coal x25]</p>
<p><b>Step Eleven:</b> Speak to Gordy the Town Crier at Danovian Woods. <em>Yes, his location changed.</em> Turn in [Holiday Gift x5] (These are rewards from the quest turn ins between steps four to nine.)</p>
<p><b>Steps Twelve &amp; Thirteen:</b> Speak to Father Damien at the Temple of Ondrikoth. Turn in [Ritual Book x1]</p>
<p><b>Step Fourteen:</b> Speak to Ms. Bigglesworth at Danovian Woods <em>Yes, her location changed.</em></p>
<p><b>Step Fifteen:</b> Head East, Kill Gnomes x100</p>
<p><b>Step Sixteen:</b> Return to Ms. Bigglesworth at Danovian Woods; t<span style="background-color:transparent">ravel North and Kill Cats x100; speak to Ms. Bigglesworth again.</span></p>
<p><b>Step Seventeen:</b> Speak to Felix Navi'da at Small Mud Hut.</p>
<p><b>Steps Eighteen &amp; Ninteen:</b> Speak to Hawnz The Party Planner at Small Mud Hut (twice!). Turn in [Peppermint x75 Cacao Bean x75]</p>
<p><b>Step Twenty:</b> Speak to Caretaker Hannah at Hall Of Support. Turn in [Crate of Peppermint Bark x1] (received from Hawnz in previous step.)</p>
<p>Get your reward, which includes the Peppermint Bark Token, which is required for the (Pets) Holiday Event (2015) which rewards you the <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Candy-Cane-Drake">Candy Cane Drake</a>!</p>
