<p><strong>WARNING: Contains spoilers about Hidden NPC locations and item turn ins.</strong></p>

<p>Thanks to Roo for the original version of this guide, posted on the Drakor forums.</p>

<p><b>Step One:</b> Speak to Administrator Elf in the Northern Path in the Plains</p>
<p><b>Steps Two &amp; Three:</b> Speak to Sparkles The Elf at the Festive Cabin (This is a hidden location directly south of the Office of Adoptions, near The Small Mud Hut.) Turn in 100x Coal.</p>
<p><b>Step Four:</b> Speak to Basket Bob at Danof Basket Shop.</p>
<p><b>Steps Five &amp; Six:</b> Speak to Brandytrifle at Danovian Woods. Turn in 10x Holiday Sleds. (Construction Pattern level 1-10, requiring 12 Birch Lumber, 2 Copper Fittings, 2 Copper Fasteners, and 60 Copper Nails each.)</p>
<p><b>Steps Seven &amp; Eight:</b> Speak to Jinglebaubles at Ivy's Wildlife Sanctuary. Turn in 50x Snow, 15x Cherry Syrup, 15x Blueberry Syrup, 15x Lime Syrup, 15x Strawberry Syrup, and 15x Orange Syrup. (Snow is collected in this location with level 1 gathering at a node literally named "Freshly Fallen Snow". Syrup is collected by each specific collection skill from levels 1-50 unless you have holiday drops turned off. You can find Cherry from Gathering, Blueberry from Mining, Lime from Fishing, Strawberry from Logging, and Orange from Ancient Research.)</p>
<p><b>Steps Nine &amp; Ten:</b> Speak to Tinselbells Elf at Festive Cabin. (Again this is a hidden location south of <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Office-of-Adoptions">Office of Adoptions</a>.) Turn in 20x Reindeer Nets. (Crafting pattern level 1-20 which requires 3x Tough Rope per net. Tough&nbsp;Rope is also a crafting pattern level 1-20 requiring 3 Horsetail and 3 Cotton per. You will need a total of 180 Horsetail and Cotton to make these nets from scratch yourself.)</p>

<p>Congratulations! You've completed the quest and will be rewarded the Holiday Elf Token, which can be handed into the <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Office-of-Adoptions">Office of Adoptions</a> in combination with the <a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---holiday-event-2015/quest---peppermint-bark-holidays-2015">Peppermint Bark Token</a> in return for the <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Candy-Cane-Drake">Candy Cane Drake</a>.</p>

<p>Roo's note: Thanks for reading and I hope this helps save you some time between bank hopping and attempting to locate the hidden locations and NPC's!</p>
