<a name="top"></a>
<div style="text-align:center">
<h2><u><font size="5"><span style="color:rgb(120,63,4)">Small Birch Container</span></font></u></h2>
<h3>Mining Level 1</h3>
</div>
<div style="text-align:center"><font size="3">82 Stone<br>
</font></div>
<div style="text-align:center"><font size="3">82 Copper Ore<br>
</font></div>
<div style="text-align:center">
<h3>Logging Level 1<font size="3"><br>
</font></h3>
</div>
<div style="text-align:center"><font size="3">376 Light Birch<br>
</font></div>
<div style="text-align:center">
<h3>Smithing Level 1<font size="3"><br>
</font></h3>
</div>
<div style="text-align:center"><font size="3">82 Copper Bars<br>
</font></div>
<div style="text-align:center"><font size="3">1230 Copper Nails<br>
</font></div>
<div style="text-align:center">
<h3>Construction Level 3<font size="3"><br>
</font></h3>
</div>
<div style="text-align:center"></div>
<div style="text-align:center"><font size="3">376 Birch Lumber<br>
</font></div>
<div style="text-align:center"><font size="3">6 Birch Container Walls<br>
</font></div>
<div style="text-align:center"><font size="3">1 Small Birch Container<br>
</font></div>
<div style="text-align:center"><font size="3">
<a href="#top"><img alt="Back to Top" border="0" src="https://sites.google.com/site/drakorpedia/TinyTop.png"></a>
<br>
</font></div>
<br>
