<h2>Lumberjack Extraordinaire</h2>

<p>Hiems' Wood Store is <i>the</i> place in Drakor to buy your wood from. (Okay, it's really just Hiems selling on the player market, but roleplaying is fun. ^.^) Logging is all that Hiems does and they currently have the skill maxed out. They are also conscientious about keeping their "store" well stocked.</p>

<p>There are many legends surrounding Hiems and their wood-chopping prowess. One of the most popular tells the story of Hiems and the Bear:</p>

<blockquote style="margin:0 0 0 40px;border:none;padding:0px">
<p>Hiems was giving his beloved wood store a sweep one day when suddenly a bear burst through the front door and charged none other than Hiems himself! Turns out the bear wasn't very pleased at Hiems slowly destroying the forest he knew and loved and wanted some payback! Unfortunately for him, Hiems has this uncanny ability to hit things really hard with an axe until they fall down and stop moving. Trees, bears, baristas, anything that gets in his way seems to die!</p>

<p>But on gutting the bear for a sweet bear-skin rug, Hiems saw something twinkling in the bears mouth. What could that possibly be? Why, riches and fame of course!</p>

<p>But that was not enough for Hiems! Simply being a famous figurehead for deforestation is enough for him, so what did he decide to do? That's right! Give even more back to the people that support and love Hiems' Wood Store!</p>

<p>Simply put, Hiems' Wood Store offered a real Token lottery chance for those faithful customers that keep Hiems' Wood Store the best in the business.</p>
</blockquote>

<p>Let's all praise Hiems for keeping the community strong and the forests weak! Remember, if it's not Hiems, it's not wood.</p>
