<h2>the Musical Duckling</h2>

<p>Papa Quack is famous in Drakor for two things: sharing their excellent musical taste with world chat via youtube videos and hosting an assortment of lotteries, raffles, and other prize-bearing contests.</p>
