<img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BTable+of+contents'%3D20'f%5Cv'a%5C%3D0'10'%3D249'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D250'%3D297'dim'%5C%3D10'%3D10'%3D250'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=TzxATGSyGo59uvdEcnpk0pMmCmI" data-type="toc" data-props="align:right;maxDepth:6;width:250;wrap:true;" width="250" height="300" style="display:inline;float:right;margin:5px 0 5px 20px;">

<h2>Illustrated Map</h2>

<p>This is an incredible project started by a Drakorian named Spidi, who unfortunately didn't have time to continue it. The good news is that he turned it over to Goz. The bad news is that Goz doesn't have time to keep it up either.</p>

<p>But it's still a wonderful guide to the world and vision of Drakor, at least until you reach Poi.</p>

<p><a href="http://www.drakormaps.byethost8.com/" target="_blank">The Isle of Drakor</a></p>

<hr />

<h2>Charted Maps</h2>

<p>This is a collection of intentionally simplified maps designed to be searched and filtered. You can search the text using the normal Find command (Ctrl-F) and, by clicking on the map, click through all the various sub maps.</p>

<p><a href="https://drakor.rose-labyrinth.com/map/" target="_blank">Drakor Charted Maps</a></p>

<p>These were created using the Draw.io webapp and can be shared via Google Drive (you will need a Google account to use them). The link isn't shared here because the url changes frequently, but contact Persica in-game to get the current one. You are able to make copies for your own use, which allows to modify and annotate the maps. If you've never used Draw.io before, it is recommended that you enable View &gt; Layers so that you can turn the various tradeskill layers on and off.</p>

<p>The collected maps include:</p>
<ul>
    <li>a key</li>
    <li>the World Map</li>
    <li>the towns with sub-maps
        <ul>
            <li>Danof</li>
            <li>Poi</li>
            <li>Drimly</li>
        </ul>
    </li>
    <li>the dungeons with sub-maps
        <ul>
            <li>Mount Feuerturm</li>
            <li>Liphantidae Mine</li>
        </ul>
    </li>
    <li>the Guild Hall</li>
    <li>the Rabbit Hole (only available when the Easter event is active, check your Quest Log for dates)</li>
</ul>

<hr />

<h2>Directions</h2>

<p>For those who can not, or prefer not, to use a visual map, there is also <a href="https://drakor.rose-labyrinth.com/directions/">Directions</a>, which is a purely text-based utility that provides step-by-step directions from a selected beginning node to a selected ending node.</p>
