<div><font color="#000000"><b>Step 1: </b>Find <b>Rhoda Osane @ Inside the Hut on Haunted Hill</b> <i>(East of the Entrance into the Grey Woods)</i></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 2:</b> Find <b>Wickedly Whimpering Witch @ Ancient Overgrown Burial Grounds</b> <i>(North-West ish of the Entrance into the Grey Woods)</i></font></div>
<div><font color="#000000"><b>Step 3:</b> Make <b>[Witches Brew]</b> x1 and return to <b>Wickedly Whimpering Witch</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><b style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;[Witches Brew]</b><font color="#000000"> x1 </font><i><font color="#999999">Alchemy Pattern 1-20</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Honey] x2&nbsp;</font><i><font color="#999999">Gathering 1-20</font></i></div>
<div><font color="#000000">&nbsp;&nbsp; &nbsp;[Water] x6 </font><i><font color="#999999">Fishing 1-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Eye of Newt] x1 </font><i><font color="#999999">NPC Vendor - 2000g</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Toe of Frog] x1 </font><i><font color="#999999">NPC Vendor - 2000g</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Fire of Belly] x1 </font><i><font color="#999999">NPC Vendor - 1 Medal</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Clay Mug] x1 </font><i><font color="#999999">Crafting 1-5</font></i></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp;<span>&nbsp;&nbsp; &nbsp;</span> &nbsp;</span>↳&nbsp;</span><b style="color:rgb(0,0,0);background-color:transparent">[Clay Mug]</b><font color="#000000" style="background-color:transparent"> x1 </font><i style="background-color:transparent"><font color="#999999">Crafting 1-5</font></i></div>
<div><font color="#000000"><i><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>Requires:</i></font></div>
<div><span style="color:rgb(0,0,0);background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>[Light Clay Mixture] x2&nbsp;</span><span style="background-color:transparent"><i><font color="#999999">Crafting 1-5</font></i></span></div>
<div>
<div>        <span>&nbsp;&nbsp; &nbsp;</span></div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;</span>&nbsp;</span></span>↳</span><span style="background-color:transparent">&nbsp;</span><b style="color:rgb(0,0,0);background-color:transparent">[Light Clay Mixture]</b><font color="#000000" style="background-color:transparent"> x2 </font><i style="background-color:transparent"><font color="#999999">Crafting 1-5</font></i></div>
<div><font color="#000000"><i><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span>Requires</i>:</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span><font color="#000000">[Stone] x6 </font><i><font color="#999999">Mining 1-6</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span><font color="#000000">[Clay] x4 </font><i><font color="#999999">Mining 1-15</font></i></div>
</div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Reward:</b> <b>15 EXP, [Witch's Snack Baggy]&nbsp;x1, [Witch's Hat] x1, [Medallion of the Witch] x1</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 4:</b> Find <b>Where-Am-I-Wolf @ Dust Storm</b> <i>(South of Poi)</i></font></div>
<div><font color="#000000"><b>Step 5:</b> Make <b>[Shaving Products]</b> x1 and return to <b>Where-Am-I-Wolf</b></font></div>
<div><br>
</div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><b style="color:rgb(0,0,0)">[Shaving Products]</b> <i><font color="#999999">Crafting Pattern 1-20</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Steel Razor Blade] x1 </font><i><font color="#999999">Smithing 10-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Sponge] x1</font><i> <font color="#999999">Fishing 1-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Shaving Cream] x1 </font><i><font color="#999999">Crafting 1-10</font></i></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>↳</span><b style="color:rgb(0,0,0)">[Steel Razor Blade]</b><font color="#000000"> x1 </font><i><font color="#999999">Smithing 10-20</font></i></div>
<div><font color="#000000"><span>&nbsp;<span>&nbsp;&nbsp; &nbsp;</span>&nbsp; &nbsp;</span><i>Requires:</i></font></div>
<div><font color="#000000"><span>&nbsp;&nbsp;<span>&nbsp;&nbsp; &nbsp;</span> &nbsp;</span>[Steel Bar] x1</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><font color="#000000">[Sharpening Stone] x2 </font><font color="#999999">NPC Vendor - 2500g each</font></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span>↳</span><b style="color:rgb(0,0,0)">[Steel Bar]</b><font color="#000000"> x1 </font><i><font color="#999999">Smithing 10-20</font></i></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span><i>Requires:</i></font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span><font color="#000000">[Iron Ore] x2 </font><i><font color="#999999">Mining 10-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span><font color="#000000">[Silver Ore] x2&nbsp;</font><i><font color="#999999">Mining 1-30</font></i></div>
<div>
<div><span style="color:rgb(0,0,0)">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Molten Fossil] x4&nbsp;</font><i><font color="#999999">Mining 7-9 (only at Inspect Lava Flow)</font></i></div>
</div>
<div><i><font color="#999999"><br>
</font></i></div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;</span>&nbsp;</span>↳</span><b style="color:rgb(0,0,0)">[Shaving Cream]</b><font color="#000000"> x1 </font><i><font color="#999999">Crafting 1-10</font></i></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><i>Requires:</i></font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><font color="#000000">[Animal Fat] x1 </font><i><font color="#999999">NPC Vendor - 1 Medal</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><font color="#000000">[Alkali] x2 </font><i><font color="#999999">Logging 1-10</font></i></div>
<div><br>
</div>
<div><font color="#000000"><b>Reward: 20 EXP, [Wolf's Snack Baggy] (CR) x1, [Wolf Fur Slippers] x1, [Medallion of the Werewolf] x1</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 6:</b> Find <b>Drowsy Dracula</b> <b>@ Small Broken Shack</b> <i>(In Kersay)</i></font></div>
<div><font color="#000000"><b>Step 7:</b> Make <b>[Caffeinated Blood] </b>x1 and return to <b>Drowsy Dracula</b></font></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;</span>↳</span><b style="color:rgb(0,0,0)">[Caffeinated Blood]</b> <i><font color="#999999">Cooking Pattern 1-20&nbsp;</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><font color="#cc0000"><b>CR EXEMPT</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Water] x6 </font><i><font color="#999999">Fishing 1-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Fish Blood] x12 </font><i><font color="#999999">Fishing 1-30</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Tea Leaves] x20 </font><i><font color="#999999">Gathering 1-30</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Reward: [Vampire's Snack Baggy] (DR) x1, [Vampire-Style Shirt] x1, [Medallion of the Vampire] x1</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 8:</b> Find <b>Unwrapped Mummy @ Graveyard of Foes</b> <i>(South-East of Poi, towards Gristmore's Antechamber)</i></font></div>
<div><font color="#000000"><b>Step 9:</b> Make <b>[Mummy Wraps]</b> x1 and return to <b>Unwrapped Mummy</b></font></div>
<div><br>
</div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><b style="color:rgb(0,0,0)">[Mummy Wraps]</b><font color="#000000"> x1 </font><i><font color="#999999">Crafting Pattern 1-30</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;</span>[Copper Fasteners] x4&nbsp;</font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;</span>[Linen Fibres] x4&nbsp;</font></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>↳</span><b style="color:rgb(0,0,0)">[Copper Fasteners]</b><font color="#000000"> x4 </font><i><font color="#999999">Smithing 1-5</font></i></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span><i>Requires:</i></font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>[Pure Copper] x2</font></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;</span>&nbsp;</span></span></span>↳</span><b style="color:rgb(0,0,0)">[Pure Copper]</b><font color="#000000"> x2</font><i> <font color="#999999">Smithing 1-5</font></i></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;</span>&nbsp;</span></span></span><i>Requires:</i></font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;</span>&nbsp;</span></span></span>[Copper Bar] x16</font></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span>&nbsp;</span></span>↳</span><font color="#000000"><b>[Copper Bar]</b> x16 </font><font color="#999999">Smithing 1-4</font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; <span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span>&nbsp;</span></span><i>Requires:</i></font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span></span></span><font color="#000000">[Stone] x16 </font><i><font color="#999999">Mining 1-5</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span></span></span><font color="#000000">[Copper Ore] x16 </font><i><font color="#999999">Mining 1-5</font></i></div>
<div><br>
</div>
<div><span style="background-color:transparent"><span>&nbsp;&nbsp; &nbsp;</span>↳</span><font color="#000000"><b>[Linen Fibres] </b>x4</font><font color="#999999"><i> Crafting 1-30</i></font></div>
<div><font color="#000000"><span>&nbsp;&nbsp; &nbsp;</span><i>Requires:</i></font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Water] x24&nbsp;</font><i><font color="#999999">Fishing 1-20</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Flax] x24&nbsp;</font><i><font color="#999999">Gathering 1-30</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Curing Tank] x4 </font><i><font color="#999999">NPC Vendor 3500g each</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Rollers] x8</font><i><font color="#000000">&nbsp;</font><font color="#999999">NPC Vendor 3500g each</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Reward: 20 EXP, [Mummy's Treat Bag] (CR) x1, [Mummy Leg Warmers] x1, [Medallion of the Mummy] x1</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 10:</b> Find <b>Bobble-Head Fredenstein @ Swamp of the Lost</b> <i>(South-West of the Mud Hut, on the road to Danof)</i></font></div>
<div><font color="#000000"><b>Step 11:</b> Make <b>[Neck Bolts]</b> x1 and return to <b>Bobble-Head Fredenstein</b></font></div>
<div><br>
</div>
<div><b><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Neck Bolts]</font><font color="#999999"> </font></b><i><font color="#999999">Smithing 1-30</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Silver Ore] x8 </font><i><font color="#999999">Mining 1-30</font></i></div>
<div><span style="color:rgb(0,0,0)">&nbsp;&nbsp; &nbsp;</span><font color="#000000">[Bolt Mould] x2 </font><i><font color="#999999">NPC Vendor - 1 Medal each</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Reward: [Fred's Snack Baggy] (DR) x1, [Fred's Electric Appreciation] x1, [Medallion of Fred] x1</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Step 12:</b> Return to <b>Rhoda Osane @ Inside the Hut on Haunted Hill&nbsp;</b></font></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000"><b>Reward: 20 EXP, "Scaredy Cat" Character Title, [First Pumpkin Token] x1</b></font></div>
