<div><b style="background-color:transparent">Step 1:</b><span style="background-color:transparent"> Find </span><b style="background-color:transparent">Stressed Student @ Haunted One-Room Schoolhouse</b><span style="background-color:transparent"> </span><i style="background-color:transparent">(East of the Entrance into the Grey Woods)</i></div>
<b>Step 2:</b> Collect Tarot Cards<br>
<br>
[Minor Arcana: Coin] x14 <i><font color="#999999">Mining 1-50</font></i><br>
[Minor Arcana: Cup] x14 <i><font color="#999999">Gathering 1-50</font></i><br>
[Major Arcana Card] x22 <i><font color="#999999">Fishing 1-50</font></i><br>
[Minor Arcana: Sword] x14 <i><font color="#999999">Logging 1-50</font></i><br>
[Minor Aracana: Wand] x14 <i><font color="#999999">Research 1-50</font><br>
</i><br>
<b>Step 3:</b> Return to <b>Stressed Student @ Haunted One-Room Schoolhouse</b><br>
<br>
<b>Reward: 20 EXP, [Crystal Vision Augment] x1, [Crystal Vision Enchant] x1, [Third Pumpkin Token] x1</b>
