<p>Thanks to Isfan for the original version of this guide, posted on the Drakor forums.</p>

<p><strong>IMPORTANT NOTE: There are two quests: "Happy Birthday Drakor!" and "<a href="https://sites.google.com/site/drakorpedia/guides/quests/drakor-s-birthday/quest---mok-the-troll-birthday-event">Mok the Troll (Birthday Event)</a>". You do not need to defeat Mok the Troll nor complete the side quest to finish the Happy Birthday Drakor! quest line.</strong></p>

<p>Relevant Skills:</p>
<ul>
	<li>Fishing (Lv 1+)</li>
	<li>Logging (Lv 1+)</li>
	<li>Mining (Lv 8+)</li>
	<li>Disenchanting (Lv 1+)</li>
	<li>Gathering (Lv 40+)</li>
	<li>Cooking (Lv 1+)</li>
</ul>

<p><b>STEP 1:</b> Talk to Hawnz "The Party Planner" @ Small Mud Hut</p>

<p><b>STEP 2:</b> Turn in Party Materials (Seaweed and Balloons) to Hawnz @ Small Mud Hut:</p>
<ul>
	<li>[Pink Party Seaweed] x30</li>
	<li>[Yellow Party Seaweed] x15</li>
	<li>[Blue Party Seaweed] x8</li>
	<li>[Green Party Balloon] x30</li>
	<li>[Red Party Balloon] x15</li>
	<li>[Purple Party Balloon] x8</li>
</ul>

<p>Seaweed can be found from Fishing (Lv 1-50). Balloons can be found from Logging (Lv 1-50).</p>

<p><b>STEP 3:</b> Turn in [Cocoa Bean] x1 to Hawnz @ Small Mud Hut. [Cocoa Bean] can be obtained from the Mok's Hideaway node (unlocked during the <a href="https://sites.google.com/site/drakorpedia/guides/quests/drakor-s-birthday/quest---mok-the-troll-birthday-event">Mok The Troll (Birthday Event)</a> quest) or purchased from the NPC Vendor. The rewards for this step include the [Birthday Cake] Cooking pattern.</p>

<p><b>STEP 4:</b> Turn in [Birthday Cake] x1 to Hawnz @ Small Mud Hut.</p>
<ul>
	<li>Cooking Lvl: 1-30 (10-300 EXP), 150 seconds per combine</li>
	<li>Ingredients:
		<ul>
			<li>[Egg] x25</li>
			<li>[Orange] x15</li>
			<li>[Banana] x10</li>
			<li>[Dark Honey] x5</li>
			<li>[Apricot] x5</li>
			<li>[Cacao Bean] x15</li>
		</ul>
	</li>
</ul>

<p>All of the cake ingredients except the Cacao Beans are standard Gathering mats that can be traded or bought from other players or the Offline Workers.</p>

<p><b>TIP:</b> This recipe can receive Create Rate bonuses. Use a CR buff for a chance to make 2x Cakes when working as a group.</p>

<p><b>STEP 5:</b> Turn in Dragonfire Cider ingredients to Hawnz @ Small Mud Hut. The rewards for this step include 2 FREE inventory slots!</p>
<ul>
	<li>[Apple] x15</li>
	<li>[Molten Ash] x20</li>
</ul>

<p>Molten Ash can be found from Mining (Lv 8-9).</p>

<p><b>STEP 6:</b> Turn in [Party Essence] x14 to Hawnz @ Small Mud Hut. This can be found from Disenchanting (Lv 1-50). The rewards for this step include the "Party Animal" title and a chat broadcast.</p>

<p>Possible Party Broadcasts:</p>
<ul>
	<li>[Name] jumps on a table and starts singing “Happy Birthday Drakor” and motions for everyone to join in.</li>
	<li>[Name] runs around randomly hugging people and yelling out “Happy Birthday, Drakor!”</li>
	<li>[Name] gets on the dance floor and starts busting out the sprinkler and the cabbage patch dance while singing Happy Birthday!</li>
	<li>[Name] jumps out of a birthday cake singing Happy Birthday!</li>
	<li>[Name] pours everyone a drink and makes a toast to Drakors birthday!</li>
</ul>

<p><b>QUEST COMPLETE!!</b></p>
