<p>Thanks to Isfan for the original version of this guide, posted on the Drakor forums.</p>

<p>Required Skills:</p>
<ul>
<li>Combat (Lv 5+)</li>
</ul>

<p>Relevant Skills:</p>
<ul>
<li>Construction (Lv 20+)</li>
<li>Gathering (Lv 15+)</li>
</ul>

<p>The Constructed material can be obtained from other players and the Gathering is only needed if you want to harvest [Cocoa Bean] for the <a href="https://sites.google.com/site/drakorpedia/guides/quests/drakor-s-birthday/quest---happy-birthday-drakor">Happy Birthday Drakor!</a> quest, so those aren't required. You have to have the Combat, though, nobody else can fight Mok for you.</p>

<p><b>STEP 1:</b> Talk to Mok the Troll @ Hidden Lake. This location is off the North end of Trehos and the path to it is not shown on the mini-map.</p>

<p><b>STEP 2:</b> Defeat Mok in battle @ Hidden Lake.</p>

<p><b>STEP 3:</b> Turn in a [Small Pine Building] to Mok the Troll @ Hidden Lake. [Small Pine Building] is a Construction pattern. The rewards for this step include "Mok's Permission" (Permanent Key), which grants access to the Mok's Hideaway location and the [Cocoa Bean] producing node therein.</p>
