<h2>Using Guild Bank Containers</h2>

<p>Guild bank containers can be turned into the guild bank on the main guild bank interface, but only when actually at a guild bank location and only by a guild leader. Look for a link in the upper right of the screen. Each kind of guild bank container can be turned in a limited number of times and you gain two guild bank slots per container. There is also guild level requirement for each type.</p>

<h2>Guild Bank Container Types</h2>

<h4>Birch</h4>
<p>Pattern: Birch Guild Container</p>
<p>Guild Level Requirement: 1</p>
<p>Maximum Number to Turn In: 3</p>

<h4>Cedar</h4>
<p>Pattern: Cedar Guild Container</p>
<p>Guild Level Requirement: 5</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Pine</h4>
<p>Pattern: Pine Guild Container</p>
<p>Guild Level Requirement: 10</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Hemlock</h4>
<p>Pattern: Hemlock Container</p>
<p>Guild Level Requirement: 20</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Walnut</h4>
<p>Pattern: Walnut Container</p>
<p>Guild Level Requirement: 30</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Mora</h4>
<p>Pattern: Mora Container</p>
<p>Guild Level Requirement: 40</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Oak</h4>
<p>Pattern: Oak Container</p>
<p>Guild Level Requirement: 50</p>
<p>Maximum Number to Turn In: 5</p>

<h4>Fern</h4>
<p><i>missing from game</i></p>

<h4>Silver Birch</h4>
<p><i>missing from game</i></p>
