<p><img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BTable+of+contents'%3D20'f%5Cv'a%5C%3D0'10'%3D249'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D250'%3D297'dim'%5C%3D10'%3D10'%3D250'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=TzxATGSyGo59uvdEcnpk0pMmCmI" data-type="toc" data-props="align:right;maxDepth:6;width:250;wrap:true;" width="250" height="300" style="display:inline;float:right;margin:5px 0 5px 20px;"></p>
<hr>
<h3>Dungeon: Water Caves<br>
</h3>
<b>Step 1:</b>&nbsp;Talk to&nbsp;<b>Evans the Drunkard</b>&nbsp;@&nbsp;<b>The Bleary-Eyed Pig</b>&nbsp;<i>(East Danof)</i><b><br>
Step 2:</b> Kill <b>Bridge Goblin</b>&nbsp;[Level 4-7] @ <b>Small run-down bridge </b><i>(Between Danof and Swamp)</i><br>
<b>Step 3:</b> Return to&nbsp;<b style="background-color:transparent">Evans the Drunkard</b><span style="background-color:transparent">.<br>
<br>
<b>Reward:</b>&nbsp;"the Water Caves key"</span><span style="background-color:transparent"><br>
</span>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Water Caves</u></font></b></span></h4>
<span style="background-color:transparent"><b><u>Boss:</u>&nbsp;</b>Goblin Sorceress <i>(Level 3-4 - Dungeon Difficulty)</i></span><span style="background-color:transparent"><br>
</span><span style="background-color:transparent"><u><b>Available Nodes: </b></u></span><br>
<span style="background-color:transparent">
Combat <i>(Level 3-5 - Easy Difficulty)<br>
</i></span><span style="background-color:transparent">Mining <i>(Level 2-4)</i></span><span style="background-color:transparent"><br>
</span>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Deeper Within Water Caves</u></font></b></span></h4>
<span style="background-color:transparent"><b><u>Boss:</u>&nbsp;</b>Goblin Lord <i>(Level 4-5 - Dungeon Difficulty)</i></span><span style="background-color:transparent"><br>
</span><u><b>Available Nodes:&nbsp;</b></u><br>
Gathering <i>(Level 2-4)</i>
<hr>
<h3>Dungeon: Great Church of Kersay</h3>
<b>Step 1:</b>&nbsp;Head to the&nbsp;<b>River Orc Outpost</b>&nbsp;<i>(In the Swamp of the Lost)</i><b><br>
Step 2:</b> Kill the <b>Orc Scout </b>[Level 4-5]<b style="background-color:transparent"><br>
</b><b>Step 3: </b>Kill the <b>Orc Grunt </b>[Level 5-6]<br>
<b>Step 4:</b> Kill the <b>Orc General </b>[Level 6-7]<br>
<b>Reward:</b> "Kersay's Church Key"<br>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Great Church of Kersay</u></font></b></span></h4>
<b><u>Boss:</u>&nbsp;</b>Huge Orc Henchman [Level 6-7]<span style="background-color:transparent"><br>
<b>Reward:</b> "Kersay Church: Inner Key"</span><span style="background-color:transparent"><br>
</span><u><b><br>
Available Nodes:&nbsp;</b></u><br>
Combat&nbsp;<i>(Level 6-7 - Hard Difficulty)</i><br>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Kersay Church: Great Room</u></font></b></span></h4>
<b><u>Boss:</u>&nbsp;</b><span style="font-weight:normal">Young Black Dragon [Level 7-8]</span><br>
<br>
<u><b>Available Nodes:</b></u>&nbsp;<br>
Ancient Research&nbsp;<i>(Level 5-7)</i>
<hr>
<h3>Dungeon: Feuerturm (Withering Peak)</h3>
<b>Step 1:</b>&nbsp;Kill the <b>Dust Devil</b> [Level 6-8] @ <b>Inspect Lava Flow</b> <i>(North of Kersay)<br>
</i><b><br>
Step 2:</b>&nbsp;Kill the <b>Basilisk</b> [Level 7-8] @ <b>Check Crevice<br>
</b><br>
<b>Step 3:</b>&nbsp;Kill the <b>Fire Golem </b>[Level 8-8 ] @ <b>Path Leading to Center of Lava Pool</b><b><br>
Reward:</b>&nbsp;"Fire Golem: Permission to Pass"<br>
<b><br>
</b><span style="background-color:transparent"><b>Step 4:</b> Kill the <b>Animated Great Doors</b> [Level 9] @ <b><font color="#9900ff">Northern Side of Summit</font></b></span><b><br>
Reward:</b>&nbsp;"Feuerturm's Key"<br>
<span style="background-color:transparent"><br>
<b>Step 5:</b> Talk to <b>Bent Figure</b> @ <b><font color="#9900ff">Tower Base</font></b><br>
<b>Reward:</b> "</span>Feuerturm: Foyer Key"<span style="background-color:transparent"><br>
</span><span style="background-color:transparent"><br>
<b>Step 6: </b>Kill <b>Devious Doorman</b>&nbsp;[Level 9]&nbsp;@ <b><font color="#9900ff">Feuerturm, Foyer</font></b><br>
</span><span style="background-color:transparent"><b>Reward:</b>&nbsp;"</span>Feuerturm: Waiting Room Key"<br>
<span style="background-color:transparent"><br>
<b>Step 7</b>: Kill <b>Mangled Guardian</b> [Level 9] @&nbsp;</span><b><font color="#9900ff">Feuerturm, Waiting Room</font></b>
<div><span style="background-color:transparent"><b>Reward:</b>&nbsp;"</span>Feuerturm: Library Key"<br>
<span style="background-color:transparent"><font color="#9900ff"><b><br>
</b></font></span><span style="background-color:transparent"><b>Step 8</b>: Kill&nbsp;<b>Shimmering Shogun</b>&nbsp;[Level 10] @&nbsp;</span><b><font color="#9900ff">Feuerturm, Sparring Room</font></b>
<div><span style="background-color:transparent"><b>Reward:</b>&nbsp;"</span>Feuerturm: Living Quarters Key"<br>
<b><br>
Step 9:</b> Kill <b>L'ye the Dark Wizard</b> [Level 10] @&nbsp;<b style="background-color:transparent"><font color="#9900ff">Feuerturm, Pinnacle of Doom<br>
</font></b><span style="background-color:transparent"><b>Reward:</b>&nbsp;"</span>L'ye's Wooden Staff"<br>
<br>
<b>Step 10:</b> Return to <b>Wahrheit</b> @ <b>Wahrheit's Hiding Spot<br>
<br>
</b></div>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Northern Side of Summit</u></font></b></span></h4>
<span style="background-color:transparent"><b><u>Boss:</u>&nbsp;</b>Animated Great Doors [Level 9]</span><span style="background-color:transparent"><br>
</span><span style="background-color:transparent"><br>
</span>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Tower Base</u></font></b></span></h4>
<u><b>Available Nodes:</b></u><br>
Fishing <i>(Level 8-10)<br>
</i><br>
<h4><span style="background-color:transparent"><b><font color="#9900ff"><u>Feuerturm, Foyer</u><br>
</font></b></span></h4>
<br>
<b><u>Boss:</u>&nbsp;</b><span style="font-weight:normal">Devious Doorman [Level 9]</span>
<br>
<u><b>Available Nodes:</b></u><br>
Gathering&nbsp;<i>(Level 7-9)</i><br>
<br>
<h4><b style="background-color:transparent"><font color="#9900ff"><u>Feuerturm, Waiting Room</u></font></b></h4>
<span style="background-color:transparent"><b><u>Boss:</u>&nbsp;</b>Mangled Guardian [Level 9]<br>
</span><br>
<h4><b style="background-color:transparent"><font color="#9900ff"><u>Feuerturm, Library</u></font></b></h4>
<u><b>Available Nodes:</b></u><br>
Gathering&nbsp;<i>(Level 7-9)<br>
</i>Ancient Research <i>(Level 7-9)<br>
</i><br>
<h4><b style="background-color:transparent"><font color="#9900ff"><u>Feuerturm, Sparring Room</u></font></b></h4>
<b><u>Boss:</u>&nbsp;</b>Shimmering Shogun [Level 10]<br>
<br>
<h4><b style="background-color:transparent"><font color="#9900ff"><u>Feuerturm, Living Quarters</u></font></b></h4>
<u><b>Available Nodes:</b></u><br>
Combat <i>(Level 9-10 - Hard Difficulty)<br>
<br>
</i>
<h4><b style="background-color:transparent"><font color="#9900ff"><u>Feuerturm, Pinnacle of Doom</u></font></b></h4>
<b><u>Boss:</u>&nbsp;</b>L'ye the Dark Wizard [Level 10-11]<br>
<br>
<hr>
<h3>Dungeon: Zha'dryn Sanctuary</h3>


<p>Not yet accessible.</p>
</div>
