<div>Be sure to verify your next quest step using your Quests Log! We put our best effort into making these guides complete and accurate, but errors, omissions, and ambiguities do occur.<br>
<img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BPage+listing'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22A+Journey+in+Pursuit+of+a+Goal%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D297'dim'%5C%3D10'%3D10'%3D500'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=CxBwZ4jzs8SqgATngUQsgsVFoIc" data-type="subpages" data-props="align:left;borderTitle:A Journey in Pursuit of a Goal;displayAs:TOC;maxDepth:6;rootPage:THIS_PAGE;" width="500" height="300" style="display:block;text-align:left;margin-right:auto;"></div>
<br>
