<p>Titles are a cosmetic feature that adorn a player's handle and appear in the chat message when they log in, on their armory page, and next to their posts in the forums. You can set which of your titles you want to be active on your <a href="http://drakor.com/armory/profile/2722?show=noheader">armory page</a>, using the drop down menu just below your handle.</p>

<p>The manual includes a <a href="http://www.drakor.com/manual/player-titles">Full Listing of Player Titles</a> that notes which ones can be purchased from the <a href="http://www.drakor.com/store">Drakor Store</a>. Most of the rest were obtained through promotion raffles, world events, or are unique titles purchased by a player; these can't be obtained. There are a handful, however, that can be earned by completing quests:</p>

<table border="1" style="width:100%">
<tbody>
<tr>
<th style="width:50%;height:18px">Quest</th>
<th style="width:50%">Title</th>
</tr>
<tr>
<td style="height:18px">Easter: Killer Deranged Bunnies</td>
<td>Killer Bunny</td>
</tr>
<tr>
<td style="height:18px">Easter: Baskets, Eggs &amp; More</td>
<td>the Eggstraordinary</td>
</tr>
<tr>
<td style="height:18px"><a href="https://sites.google.com/site/drakorpedia/guides/quests/drakor-s-birthday/quest---happy-birthday-drakor">Happy Birthday Drakor!</a></td>
<td>Party Animal</td>
</tr>
<tr>
<td style="height:18px"><a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---halloween-2015/quest---medallion-quest">Medallion Quest (Halloween)</a></td>
<td>Scaredy Cat</td>
</tr>
<tr>
<td style="height:18px"><a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---halloween-2015/quest---ghost-hunters">Ghost Hunters (Halloween)</a></td>
<td>Ghostbuster</td>
</tr>
<tr>
<td style="height:18px">Happy Holidays</td>
<td>Elf</td>
</tr>
<tr>
<td style="height:18px"><a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---holiday-event-2015/quest---peppermint-bark-holidays-2015">Peppermint Bark Quest (Holidays 2015)</a></td>
<td>Conquerer of Evil Gnomes</td>
</tr>
<tr>
<td style="height:18px"><a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---holiday-event-2015/quest---peppermint-bark-holidays-2015">Peppermint Bark Quest (Holidays 2015)</a></td>
<td>Master of the Cats<br>
</td>
</tr>
<tr>
<td>&nbsp;Valentine's Day Quest</td>
<td>Lovable&nbsp;</td>
</tr>
</tbody>
</table>
