<font color="#000000"><b>Step 1:</b> Create an <b>[Easter Basket]</b> for <b>Bob @ Danof Basket Shop</b>.</font>
<div><font color="#000000"><br>
</font></div>
<div>
<div><b style="color:rgb(0,0,0)">&nbsp;&nbsp;[Easter Basket]</b><font color="#000000">&nbsp;x1&nbsp;</font><i><font color="#999999">Crafting Pattern 1-10</font></i></div>
<div><font color="#000000"><br>
</font></div>
<div><font color="#000000">&nbsp;&nbsp; &nbsp;[Copper Nails] x15&nbsp;</font><i><font color="#999999">Smithing 1-7</font></i></div>
<div><font color="#000000">&nbsp;&nbsp; &nbsp;[Easter Grass] x5&nbsp;</font><i><font color="#999999">Gathering 1-40</font><br>
</i><font color="#000000">&nbsp; &nbsp; [Essence of Easter] x1&nbsp;</font><i><font color="#999999">Disenchanting 1-40</font><br>
</i><font color="#000000">&nbsp; &nbsp; [Hickory Slats] x50&nbsp;</font><i><font color="#999999">Construction 1-10</font><br>
<br>
</i>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp; &nbsp; ↳&nbsp;</span><b style="color:rgb(0,0,0);background-color:transparent">[Copper Nails]</b><font style="color:rgb(0,0,0);background-color:transparent">&nbsp;x15&nbsp;</font><i style="background-color:transparent"><font color="#999999">Smithing Pattern 1-7</font></i></div>
<div><font color="#000000"><i>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Requires:</i></font></div>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[Copper Bar] x1&nbsp;</span><span style="background-color:transparent"><i><font color="#999999">Smithing 1-4</font></i></span></div>
<div><span style="background-color:transparent"><i><font color="#000000"><br>
</font></i></span></div>
<div>
<div><span style="color:rgb(0,0,0);background-color:transparent"><span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span></span>↳&nbsp;</span><b style="color:rgb(0,0,0);background-color:transparent">[Copper Bar]</b><font style="color:rgb(0,0,0);background-color:transparent">&nbsp;x1&nbsp;</font><i style="background-color:transparent"><font color="#999999">Smithing Pattern 1-4</font></i></div>
<div><font color="#000000"><i>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp;</span></span>&nbsp; &nbsp;Requires:</i></font></div>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;[Stone] x1&nbsp;</span><span style="background-color:transparent"><i><font color="#999999">Mining 1-5</font></i></span></div>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp; &nbsp;<span>&nbsp;&nbsp; &nbsp;</span></span>&nbsp;[Copper Ore] x1&nbsp;</span><span style="background-color:transparent"><i><font color="#999999">Mining 1-5</font><br>
</i></span></div>
</div>
<div><span style="background-color:transparent"><i><font color="#000000"><br>
</font></i></span></div>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp;<span>&nbsp;&nbsp; &nbsp;</span>↳&nbsp;</span><b style="color:rgb(0,0,0);background-color:transparent">[Hickory Slats]</b><font style="color:rgb(0,0,0);background-color:transparent">&nbsp;x25&nbsp;</font><i style="background-color:transparent"><font color="#999999">Construction Pattern 1-10</font></i></div>
<div><font color="#000000"><i>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Requires:</i></font></div>
<div><span style="color:rgb(0,0,0);background-color:transparent">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[Hickory] x1 </span><span style="background-color:transparent"><i><font color="#999999">Logging 1-40</font></i></span></div>
</div>
</div>
<font color="#000000"><br>
<b>Reward: [Chocolate Bunny] x1 </b><i>(random Epic food buff)</i><b>, 3000g</b>, and <b>EXP<br>
<br>
Step 2: </b>Collect various easter eggs for <b>Meghan @ Follow Edge of the Forest</b></font>
<div><b><font color="#000000"><br>
</font></b></div>
<div><b>
<div><font color="#000000">[Red Easter Egg] x10</font><span style="color:rgb(0,0,0);background-color:transparent;font-weight:normal">&nbsp;</span><i style="background-color:transparent;font-weight:normal"><font color="#999999">Mining 1-40</font></i></div>
</b><b style="color:rgb(0,0,0)">
<div>[Blue Striped Easter Egg] x5&nbsp;<b style="background-color:transparent;color:rgb(38,10,0)"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Mining 1-40</font></i></b></div>
<div><b style="background-color:transparent;color:rgb(38,10,0)"><i style="background-color:transparent;font-weight:normal"><font color="#999999"><br>
</font></i></b></div>
</b><b>
<div><font color="#000000">[Yellow Easter Egg] x10&nbsp;</font><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Gathering 1-40</font></i></b></div>
</b><b>
<div><font color="#000000">[Pink Striped Easter Egg] &nbsp;x5&nbsp;</font><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Gathering 1-40</font></i></b></b></div>
<div><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999"><br>
</font></i></b></b></div>
</b><b>
<div><font color="#000000">[Blue Easter Egg] x10&nbsp;</font><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Fishing 1-40</font></i></b></b></div>
</b><b>
<div><font color="#000000">[Yellow Striped&nbsp;</font><b style="color:rgb(0,0,0);background-color:transparent">Easter Egg]&nbsp;</b><b style="color:rgb(0,0,0);background-color:transparent">
<div style="display:inline!important">&nbsp;x5&nbsp;</div>
</b><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Fishing 1-40</font></i></b></b></div>
<div><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999"><br>
</font></i></b></b></div>
</b><b>
<div><font color="#000000">[Pink&nbsp;</font><b style="color:rgb(0,0,0);background-color:transparent">Easter Egg]&nbsp;</b><b style="color:rgb(0,0,0);background-color:transparent">
<div style="display:inline!important">x10&nbsp;</div>
</b><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Logging 1-40</font></i></b></b></div>
</b><b>
<div><font color="#000000">[Purple Striped&nbsp;</font><b style="color:rgb(0,0,0);background-color:transparent">Easter Egg]&nbsp;</b><b style="color:rgb(0,0,0);background-color:transparent">
<div style="display:inline!important">x5&nbsp;</div>
</b><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Logging 1-40</font></i></b></b></div>
<div><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999"><br>
</font></i></b></b></div>
</b><b>
<div><font color="#000000">[Purple&nbsp;</font><b style="color:rgb(0,0,0);background-color:transparent">Easter Egg]&nbsp;</b><b style="color:rgb(0,0,0);background-color:transparent">
<div style="display:inline!important">x10&nbsp;</div>
</b><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Ancient Research 1-40</font></i></b></b></div>
<div><font color="#000000">[Red Striped&nbsp;</font><b style="color:rgb(0,0,0);background-color:transparent">Easter Egg]&nbsp;</b><b style="color:rgb(0,0,0);background-color:transparent">
<div style="display:inline!important">x5 AR&nbsp;</div>
</b><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><font color="#999999">Ancient Research 1-40</font></i></b></b></div>
<div style="color:rgb(0,0,0)"><b style="background-color:transparent"><b style="background-color:transparent"><i style="background-color:transparent;font-weight:normal"><br>
</i></b></b></div>
<font color="#000000">Reward: "the Eggstraordinary" character title</font></b><font color="#000000">,<b> [Supreme Chocolate Bunny]</b> x1 <i>(random Legendary food buff)</i>, and </font><b style="color:rgb(0,0,0)">EXP</b></div>
