<p><b>Step 1:</b> Talk to Azalea @ Deserted Plains of Ryakia</p>
<p><b>Step 2:</b> Talk to Grandpa Obil @ Poi Living Quarters</p>
<p><b>Step 3:</b> Talk to Azalea @ Poi Living Quarters</p>
<p><b>Step 4:</b> Talk to Bunny Hunter Helmur Fuhd @ Enter the Plains of Ryakia</p>
<p><b>Step 5:</b> Talk to Billy Bunny Longear @ The Town of Kersay</p>
<p><b>Step 6:</b> Talk to Bunny Hunter Helmur Fuhd @ The Town of Kersay</p>
<p><b>Step 7:</b> Defeat Bunny Hunter Helmur Fuhd (Reward: 1000g and 10 EXP)</p>
<p><b>Step 8:</b> Talk to Billy Bunny Longear @ The Town of Kersay</p>
<p><b>Step 9:</b> Talk to Azalea @ Poi Living Quarters</p>
<p><b>Reward: "Billy Bunny Longear's Rabbit Hole Key"</b> which gives access to <b>Down the Rabbit Hole</b>, a shortcut tunnel that connects <b>Hall of Worship in Danof</b>, <b>Small Mud Hut</b>, and <b>Poi Living Quarters</b>.</p>
<div style="display:block;text-align:left;"><img border="0" src="https://sites.google.com/site/drakorpedia/guides/quests/easter/down-the-rabbit-hole/Screenshot_2.png" alt="Down the Rabbit Hole map node"></div>
