<b>Step 1: </b>Talk to <b>Marshal of Drakor @ To the River </b>and accept the quest.<br>
<b>Step 2:</b> Kill 100 deranged bunnies.<br>
<b>Step 3: </b>Talk to <b>Marshal of Drakor @ To the River</b> to complete the quest.<br>
<br>
<b>Reward: "Killer Bunny" title</b>, <b>[Killer Bunny Stew]</b> x1 <i>(food buff)</i>, and <b>EXP</b>
