<b>Step 1:</b> Find <b>Office Administrator (Evil Creature) @ Office of Adoptions</b> <i>(North-East of Mud Hut at Ivy's Wildlife Sanctuary)</i><br>
<b>Step 2:</b> Complete the&nbsp;<a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---halloween-2015/quest---medallion-quest">Medallion</a>, <a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---halloween-2015/quest---ghost-hunters">Ghost Hunters</a>, and <a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---halloween-2015/quest---tarot-card-collection-halloween-2015">Tarot Card Collection</a>&nbsp;quests to receive the three Pumpkin Tokens.<br>
<b>Step 3:</b> Return to <b>Office Administrator (Evil Creature) @ Office of Adoptions</b> and hand in the tokens.<br>
<br>
<b>Reward: 275 EXP, <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Evil-Pumpkin">[Evil Pumpkin] Pet</a>!</b>
