<p><b>Step 1:</b> Complete the <a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---holiday-event-2015/quest---winter-festivities-holidays-2015">Winter Festivities</a> and <a href="https://sites.google.com/site/drakorpedia/guides/quests/quest---holiday-event-2015/quest---peppermint-bark-holidays-2015">Peppermint Bark</a> quests to receive the Holiday Elf and Peppermint Bark Tokens.</p>
<p><b>Step 2:</b> Return to Office Administrator (Holidays 2015) @ <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Office-of-Adoptions">Office of Adoptions</a> and hand in the tokens.</p>

<p><b>Reward:</b> 25 EXP, [<a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Candy-Cane-Drake">Candy Cane Drake</a>] Pet!</p>
