<p>Check the <a href="http://drakor.com/manual/event-items-list?show=noheader" target="_blank">Holidays &amp; Event Item Listing</a> for availability dates and Tradeskills of event mats. This guide has been &nbsp;updated for the 2017 changes to the quest.</p>
<p><b>Step 1:</b> Talk to Valentina Love @ Gates of Danof.</p>
<p><b>Step 2:</b> Talk to Papa Joe @ Danof Market.</p>
<p><b>Step 3:</b> Deliver to Papa Joe:</p>
<ul>
<li>[Cooked Trout] x100</li>
<li>[Copper Band] x7
</li></ul>

<p><b>Step 4:</b> Talk to Papa Joe again.</p>

<p><b>Step 5:</b> Talk to Mrs. Bigglesworth @ Danof Town Center.</p>

<p><b>Step 6:</b> Deliver to Mrs. Bigglesworth:</p>
<ul>
<li>[Milkweed Line] x5</li>
<li>[Smooth Birch Rod] x5</li>
</ul>

<p><b>Step 7:</b> Talk to Valentina Love @ Gates of Danof.</p>

<p><b>Step 8:</b> Talk to Gordy @ Hall of Support (Danof).</p>

<p><b>Step 9:</b> Deliver to Gordy:</p>
<ul>
<li>[Polished Small Gem] x10</li>
<li>[Polished Large Gem] x4</li>
<li>[Polished Large Agate] x7</li>
</ul>

<p><b>Step 10:</b> Deliver to Lady ClaraBelle @ Hall of Worship:</p>
<ul>
<li>[Goldenbush] x100</li>
</ul>

<p><b>Step 11:</b> Deliver to Lady ClaraBelle @ Hall of Worship:</p>
<ul>
<li>[Basic Book] x5</li>
</ul>

<p><b>Step 12:</b> Talk to Hawnz @ Small Mud Hut.</p>

<p><b>Step 13:</b> Deliver to Hawnz:</p>
<ul>
<li>[Love Essence] x6</li>
<li>[Heart Balloon] x25</li>
<li>[Pink Streamer] x50</li>
</ul>

<p><b style="background-color:transparent">Step 14:</b><span style="background-color:transparent"> Deliver to Hawnz:</span></p>
<ul>
<li>[Chocolate Strawberries] x30</li>
</ul>

<p><b style="background-color:transparent">Step 15:</b><span style="background-color:transparent"> Talk to Hawnz.</span></p>

<p><b>Step 16:</b> Deliver to Valentina Love @ Gates of Danof:</p>
<ul>
<li>[Truffles] x18</li>
<li>[Cake Bites] x18</li>
<li>[Water Cherries] x18</li>
</ul>
<p><b>Reward:</b> "Lovable" Character Title and chat broadcast:</p>
<ul>
<li>[Broadcast] [username] Hands out everyone heart shaped boxes of chocolates and a bouquet of flowers</li>
<li>[Broadcast] [username] Throws heart candies in the air and dances disco style!</li>
<li>[Broadcast] [username] dresses up like Cupid and shoots foam arrows at people</li>
<li>[Broadcast] [username] Hands out everyone heart shaped boxes of chocolates and a bouquet of flowers</li>
</ul>
