<p>Steps 1-2 Talk to Yathe the Scholar @ The Bleary Eye Pig (2x).</p>
<ul>
    <li>Turn in <b>5 Yathe Books</b></li>
    <li><i>2-4 Swamp of the Lost Ancient Research node</i></li>
    <li>receive [25xp].</li>
</ul>

<p>Steps 3-4 Talk to Yathe the Scholar @ The Bleary Eye Pig (2x).</p>
<ul>
    <li>Turn in <b>5,000 gold, and 2 Ancient Books, and 2 Superb Etchings</b></li>
    <li><i>1-30 Ancient Research nodes</i></li>
    <li>receive inscription pattern [Teleport to Danof and 40xp].</li>
</ul>

<p>Steps 5-6 Talk to Yathe the Scholar @ Small Mud Hut (2x)</p>
<ul>
    <li>Turn in <b>5,000 gold, and 5 Elven Artifact, and 5 Elven Rune</b></li>
    <li><i>5-7 Follow the edge of the Forest Ancient Research node</i></li>
    <li>receive [25xp].</li>
</ul>
    
<p>Steps 7-8 Talk to Yathe the Scholar @ Small Mud Hut (2x)</p>
<ul>
    <li>Turn in <b>5 Archaic Rune</b></li>
    <li><i>1-50 Ancient Research nodes</i></li>
    <li>receive inscription pattern [Teleport to Small Mud Hut and 40xp].</li>
</ul>

<p>Steps 9-10 Talk to Yathe the Scholar @ Poi Meeting Hall (2x)</p>
<ul>
    <li>Turn in <b>6 Mysterious Artifacts</b></li>
    <li><i>14-17 Flat Plain Rock Ancient Research node</i></li>
    <li>receive inscription patter [Teleport to Poi and 20xp].</li>
</ul>

<p>Step 11 Talk to Yathe the Scholar @ Poi Meeting Hall</p>
<ul>
    <li>Turn in <b>5 Ancient Etching</b></li>
    <li><i>25-50 Ancient Research node</i></li>
    <li>receive inscription pattern [Teleport First Settlement Random and 20xp].</li>
</ul>

<p>Step 12 Talk to Yathe the Scholar @ Drimly Square</p>
<ul>
    <li>Turn in <b>20 Unknown Artifact</b></li>
    <li><i>40-45 Amsu Oasis Ancient Research node</i></li>
    <li>receive inscription pattern [Teleport to Drimly and 20xp].</li>
</ul>

<p>Step 13 Talk to Yathe the Scholar @ Amsu Oasis</p>
<ul>
    <li>Turn in <b>30,000 gold</b></li>
    <li>Receive Inscription pattern [Teleport: Random Shrine] and 20 EXP.</li>
</ul>

<p>Step 14 Talk to Yathe the Scholar @ Mountain Foundry</p>
<ul>
    <li>Turn in <b>150,000 gold</b></li>
    <li>Receive Inscription pattern [Teleport: Direct Shrine] and 30 EXP.</li>
</ul>

<p>Step ? <i>missing from game</i></p>
<ul>
    <li>Turn in <b>(unknown)</b></li>
    <li>Receive Inscription pattern [Teleport: Quick Shrine] and ? EXP.</li>
</ul>

<p>Note that you may be able to purchase the needed items from the player market or the offline workers.</p>
