<p><b>Steps 1-2:</b> Talk to Patrick the Miner @ Danof Trades Area (twice) and turn in <b>[Copper Ore] x30</b>. Reward: gold and xp.</p>
<p><b>Steps 3-4:</b> Talk to Patrick @ Danof Trades Area (twice) and turn in<b> [Tin Ore] x100</b>. Reward: gold and xp.</p>
<p><b>Steps 5-6:</b> Talk to Patrick @ The Barren Plains (twice) and turn in <b>[Iron Ore] x150</b>. Reward: gold and xp.</p>
<p><b>Step 7:</b> Talk to Patrick @ The Barren Plains and turn in <b>[Golemite Ore] x10</b>. Reward: xp and the Smithing pattern [Smelt Golemite Ore].</p>
<p><b>Step 8:</b> Talk to Patrick @ Poi North and turn in <b>[Chromium Ore] x100</b>. Reward: gold, xp, and the Smithing pattern [Smelt Chrome Golemite Bar].</p>
<p><b>Step 9:</b> Talk to Patrick @ Poi North and turn in <b>[Bloodstone Ore] x100</b>. Reward: xp and the Smithing pattern [Smelt Blood Golemite Bar].</p>
<p><b>Step 10:</b> Talk to Patrick @ Drimly Square and turn in <b>[Titanium Ore] x100</b>. Reward: xp and the Smithing pattern [Smelt Dark Golemite].</p>
<p><b>Step 11:</b> Talk to Patrick @ Heart of the Plains and turn in <b>[Manganese Ore] x150</b>. Reward: xp and the Smithing pattern [Smelt Red Golemite].</p>
<p><b>Step ??:</b> <i>missing from game</i> Reward: ? and the Smithing pattern [Smelt Wulfenite].</p>
