<p>Special thanks to Bl00d4ngel for the original version of this in the Drakor Forums.</p>

<p>Steps 1-2:</p>
<ul>
	<li>Found: Danof World Bank (Danof)</li>
	<li>Gold Cost: 10,000</li>
	<li>Item Needed: [Small Birch Container] x1</li>
	<li>Rewards: 5 bank slots</li>
</ul>

<p>Steps 3-4:</p>
<ul>
	<li>Found: Danof World Bank (Danof)</li>
	<li>Gold Cost: 20,000</li>
	<li>Item Needed: [Medium Birch Container] x1</li>
	<li>Rewards: 7 banks slots</li>
</ul>

<p>Step 5-6:</p>
<ul>
	<li>Found: World Bank - Rural Branch (Small Mud Hut)</li>
	<li>Gold Cost: 30,000</li>
	<li>Item Needed: [Small Cedar Container] x1</li>
	<li>Rewards: 5 bank slots</li>
</ul>

<p>Step 7-8:</p>
<ul>
	<li>Found: Madame Prospa's (Poi)</li>
	<li>Gold Cost: 50,000</li>
	<li>Item Needed: [Small Pine Container] x1</li>
	<li>Rewards: 5 bank slots</li>
</ul>

<p>Step 9:</p>
<ul>
	<li>Found: Madame Prospa's (Poi)</li>
	<li>Gold Cost: 70,000</li>
	<li>Item Needed: [Hemlock Container] x1</li>
	<li>Rewards: 5 bank slots</li>
</ul>

<p>Step 10:</p>
<ul>
	<li>Found: Drimly Financial District (Drimly)</li>
	<li>Gold Cost: 200,000</li>
	<li>Item Needed: [Walnut Container] x2</li>
	<li>Rewards: 6 bank slots</li>
</ul>

<p>Step 11:</p>
<ul>
	<li>Found: Drimly Financial District (Drimly)</li>
	<li>Gold Cost: 1,000,000</li>
	<li>Item Needed: [Mora Container] x2</li>
	<li>Rewards: 6 bank slots</li>
</ul>

<p>Step ??: <i>missing from game</i></p>
<ul>
	<li>Found: (unknown))</li>
	<li>Gold Cost: unknown</li>
	<li>Item Needed: [Oak Container] x2</li>
	<li>Rewards: 6 bank slots</li>
</ul>

<p>Step ??: <i>missing from game</i></p>
<ul>
	<li>Found: (unknown))</li>
	<li>Gold Cost: unknown</li>
	<li>Item Needed: [Fern Container] x2</li>
	<li>Rewards: 6 bank slots</li>
</ul>

<p>Step ??: <i>missing from game</i></p>
<ul>
	<li>Found: (unknown))</li>
	<li>Gold Cost: unknown</li>
	<li>Item Needed: [Silver Birch Container] x2</li>
	<li>Rewards: 6 bank slots</li>
</ul>
