Step 1&nbsp; &nbsp; &nbsp;Text in screen @ Deeper into the Grubs&nbsp;
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; You notice eyes watching you from the forest depths.</div>
<div>Step 2&nbsp; &nbsp; &nbsp;Text in screen&nbsp;@ Upper Trehos</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; You feel as if you're being watched.</div>
<div>Step 3&nbsp; &nbsp; &nbsp;Text in screen&nbsp;@ Hidden Lake</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; You catch a glimpse of purple eyes on the other side of the lake.</div>
<div>Step 4&nbsp; &nbsp; &nbsp;Text in screen&nbsp;@ Trehos Store</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; You're perusing a gem-sellers wares, admiring the Ambers and Garnets when a fluttering of wings draws your&nbsp;</div>
<div><span style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;attention.</span></div>
<div><span style="background-color:transparent">Step 5-6&nbsp; Text in screen&nbsp;</span><span style="background-color:transparent">@ Mother Naiada's Hut</span></div>
<div><span style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="background-color:transparent">You hear the fluttering once again, coming from within the hut before you.&nbsp;</span></div>
<div><span style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="background-color:transparent"><b>Speak</b></span></div>
<div><span style="background-color:transparent"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </b>&nbsp; &nbsp;<b>&nbsp;</b></span><span style="background-color:transparent"><b>[You] Are you the only one in here? I could have sworn I heard something, a&nbsp;</b></span></div>
<div><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; bird, perhaps? Tell me, old-one, do you know of any purple-eyed creatures within this forest?</b></div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="background-color:transparent"><i>Oh, it's you again? What are you bothering me for this time? If I've told&nbsp;&nbsp;</i></span><i style="background-color:transparent">you once, I've told you a thousand</i></div>
<div><i style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; times</i><i style="background-color:transparent">.&nbsp;</i><i style="background-color:transparent">You're looking for something that clearly doesn't want to be found by the likes of you.</i></div>
<div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;To Moher Naiada</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background-color:transparent"><b>[You] Then why does it taunt me so?&nbsp;</b></span><b style="background-color:transparent">Probably because you're not as smart as you think you are and it's</b></div>
<div><b style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;always fun to tease the fool! Pah! You know everything you need to. I'm sure you'll work it out.</b></div>
<div><b style="background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b><span style="background-color:transparent"><i>*She gives you a withering look of pity.*&nbsp; &nbsp;</i></span><i style="background-color:transparent">Or perhaps not.</i></div>
<div>Step 7&nbsp; &nbsp; &nbsp; Text in screen&nbsp;<span style="background-color:transparent">@ Deeper into the Grubs</span><span style="background-color:transparent;white-space:pre">	</span></div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;You notice eyes watching you from the forest depths.</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>[Task : Collect[Amethyst] ♦ 15 / 15 (100%)]</b><br>
</div>
</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>&nbsp;[You] Pass in the Amethyst</b></div>
