<p>Thanks and credit to Isfan, who wrote the original in the <a href="http://drakor.com/forum">Drakor Forums</a>.</p>

<p><b>Step 1:</b> Talk to Ivy (Sanctuary Owner) @ The Barren Plains (East of Small Mud Hut).</p>

<p><b>Step 2:</b> Talk to Vera @ Riverbed Close to the Mountain (East of Kersay).</p>

<p><b>Step 3:</b> Items for Vera @ Riverbed Close to the Mountain.</p>
<ul>
    <li>30,000 gold</li>
    <li>[Molten Fossils] x7 - Mining (min. 7) @ Inspect Lava Flow (Mount Feuerturm)</li>
    <li>[Shadow Fish] 14x - Fishing (min. 12) @ Swamp of Blackness (Southern edge of Grey Woods)</li>
    <li>[Chestnut] x20 - Logging (min. 16) @ Extremely Dense Woods (middle of Grey Woods)</li>
</ul>

<p><b>Step 4:</b> Items for Ivy @ The Barren Plains.</p>
<ul>
    <li>[Jade Dragon Statue] - received in Step 3</li>
</ul>

<p><b>Step 5:</b> Items for Ivy @ The Barren Plains.</p>
<ul>
    <li>[Pine Pet Containers] x5 - Construction (min. 14)
        <ul>
            <li>[Iron Nail] x325</li>
            <li>[Pine Lumber] x80</li>
            <li>[Small Iron Gate] x1 - Smithing (min. 10)
                <ul>
                    <li>[Thick Iron Bar] x2</li>
                    <li>[Horsetail Sandpaper] x3</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<p><b>Step 6:</b> Items for Ivy @ The Barren Plains.</p>
<ul>
    <li>[Minced Pickerel] x15 - Cooking (min. 7)
        <ul>
            <li>[Pickerel] x9</li>
            <li>[Angelflower] x3</li>
            <li>[Honey] x1</li>
            </ul>
    </li>
    <li>[Minced Catfish] x15 - Cooking (min. 15)
        <ul>
            <li>[Catfish] x9</li>
            <li>[Apple] x3</li>
            <li>[Dogweed] x1</li>
        </ul>
    </li>
</ul>

<p><b>Final Quest Reward:</b> <a href="https://sites.google.com/site/drakorpedia/guides/buffs-perks/pet-guide#TOC-Flying-Pig">Flying Pig</a>!</p>

<p>Isfan's Note: Special thanks to everyone at Equestrian Warriors for teaming up and working together so diligently and efficiently.</p>
