<p>Special thanks to Bl00D4NGEL that originally created this on the <a href="http://www.drakor.com/forum/view/1309" target="_blank">Drakor forums</a>.</p>

<p>Step 1-2:</p>
<ul>
	<li>Found Where? Danof Market</li>
	<li>Gold Needed: 2,000g</li>
	<li>Item Needed: 1x [Small Market Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step 3-4:</p>
<ul>
	<li>Found Where? Small Mud Hut</li>
	<li>Gold Needed: 10,000g</li>
	<li>Item Needed: 1x [Small Cedar Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step 5:</p>
<ul>
	<li>Found Where? Poi Trades Area</li>
	<li>Gold Needed: 20,000g</li>
	<li>Item Needed: 1x [Small Pine Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step 6:</p>
<ul>
	<li>Found Where? Poi Trades Area</li>
	<li>Gold Needed: 25,000g</li>
	<li>Item Needed: 1x [Small Hemlock Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step 7:</p>
<ul>
	<li>Found Where? Drimly Square</li>
	<li>Gold Needed: 100,000g</li>
	<li>Item Needed: 1x [Small Walnut Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step 8:</p>
<ul>
	<li>Found Where? Drimly Square</li>
	<li>Gold Needed: 250,000</li>
	<li>Item Needed: 1x [Small Mora Building]</li>
	<li>Gives: 25 EXP and 5 World Market Slots</li>
</ul>

<p>Step ?: <i>missing from game</i></p>
<ul>
	<li>Found Where? (unknown)</li>
	<li>Gold Needed: (unknown)</li>
	<li>Item Needed: 1x [Small Oak Building]</li>
	<li>Gives: (unknown)</li>
</ul>

<p>Step ?: <i>missing from game</i></p>
<ul>
	<li>Found Where? (unknown)</li>
	<li>Gold Needed: (unknown)</li>
	<li>Item Needed: 1x [Small Fern Building]</li>
	<li>Gives: (unknown)</li>
</ul>

<p>Step ?: <i>missing from game</i></p>
<ul>
	<li>Found Where? (unknown)</li>
	<li>Gold Needed: (unknown)</li>
	<li>Item Needed: 1x [Small Silver Birch Building]</li>
	<li>Gives: (unknown)</li>
</ul>
